* {
	box-sizing: border-box;
}

.form-group {
	clear: both;
}

.control-label {
	display: inline-block;
	text-align: right;
	position: relative;
	float: left;
}

.col-sm-6 {
	display: inline-block;
}

.form-control {
	position: relative;
	float: left;
}

.form-control:focus {
	box-shadow: none;
	border: 1px solid #F78F24;
}

.form-group button {
	background-color: #F78F24;
	color: white;
	border: none;
	outline: none;
	margin-right: 15px;
	padding: 10px;
}

.group {
	display: inline-block;
}

.img-thumbnail-album {
	border: 1px solid #ddd; /* Gray border */
	border-radius: 4px; /* Rounded border */
	padding: 5px; /* Some padding */
	width: 250px; /* Set a small width */
	height: 250px;
}

/* Add a hover effect (blue shadow) */
.img-thumbnail-album:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
