body {
    font-family: 'Open Sans', 'Arial';
    font-size: 13px;
    font-weight: 400;
    color: #000;
    background-color: #eee;
    top: 0px !important;
}

h1, h2, h3, h4, h5, h6 {
    line-height: inherit;
}

.header-toolbar {
    height: 36px;
    line-height: 36px;
    color: #444;
    font-size: 13px;
    background-color: #f8f8f8;
    font-weight: 600;
}

.container {
    width: 100% !important;
    max-width: 1200px;
}

.pull-left {
    float: left !important;
}

.header-toolbar .support span {
    line-height: 36px;
    display: inline-block;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.header-toolbar .support span+span {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #f3f3f3;
}

.header-toolbar .support span i {
    font-size: 15px;
    margin-right: 3px;
}

.header-toolbar .support span a {
    color: #444;
}

.pull-right {
    float: right !important;
}

.login-menu {
    padding: 0px;
    float: right;
    white-space: nowrap;
    border-right: 1px solid #f3f3f3;
    padding-right: 8px;
}

.login-menu a {
    color: #444;
    position: relative;
    margin: 0px 5px;
    transition: all 0.2s ease-in-out;
}

.login-menu a#logout:before {
    content: '';
    background: #444;
    height: 10px;
    width: 1px;
    position: absolute;
    left: -7px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

.header-toolbar .menu-icon {
    display: none;
    padding-left: 0px;
    padding-right: 12px;
    float: right;
}

.header-toolbar .menu-icon a {
    color: #444;
    display: inline;
}

.header-logo{
    background-color: #fff;
}

.header-logo .row {
    display: flex;
    align-items: center;
}

.logo {
    line-height: 84px;
    display: block;
    padding: 10px 0px;
}

.logo img {
    max-height: 130px;
    max-width: 92%;
    display: inline-block;
}

.search {
    position: relative;
    margin: 0px 0px;
    float: left;
    width: calc(100% - 280px);
}

.form-search {
    height: 40px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #cbcbcb;
}

.form-search input {
    width: 100%;
    height: 38px;
    padding: 0px 98px 0px 15px;
    border: none;
    font-size: 13px;
    position: absolute;
    left: 0px;
    border-radius: 4px;
    box-shadow: none;
}

.form-control {
    display: block;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
}

button, input, select, textarea {
    font-family: inherit;
}

.form-search .btn_search {
    padding: 6px 13px;
    position: absolute;
    top: -1px;
    right: -1px;
    background: #F78F24;
    border: none;
    height: 40px;
    width: 80px;
    border-radius: 0px 4px 4px 0px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
}

.cart-top {
    position: relative;
    float: left;
    color: #333;
    padding: 18px 0px 0px 36px;
    font-weight: 400;
    font-size: 13px;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0px 0px 0px 14px;
}

.cart-top::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 28px;
    height: 30px;
    overflow: hidden;
    background: url(/assets/image/sprite-cart.png) no-repeat;
    background-position: 0px 1px;
    background-size: 100%;
}

.cart-top .circle-1 {
    position: relative;
}

.cart-top .circle-quantity-cart{
    color: #fff;
    background: #F78F24;
    width: 28px;
    height: 16px;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    left: 37px;
    top: 0px;
}

.login-new {
    position: relative;
    float: left;
    color: #333;
    padding: 3px 0px 0px 32px;
    font-weight: 400;
    font-size: 13px;
    margin: 0px 0px 0px 15px;
    line-height: 1.3;
}

.login-new::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 26px;
    height: 32px;
    overflow: hidden;
    background: url(/assets/image/sprite-login.png) no-repeat;
    background-position: 0px 1px;
    background-size: 100%;
}

.login-new a {
    display: block;
    text-decoration: none;
}

.header-main {
    position: relative;
    border-top: 1px solid #f3f3f3;
}

.header-main .menu {
    padding-left: 0px;
    height: 42px;
}

.header-main .menu ul li.dropdown #navbarDropdown {
    text-transform: uppercase;
    background: #f0f0f0;
    width: 220px;
}

.header-main .menu ul li a {
    color: #000;
}

.header-main .menu ul li.nav-item > a {
    color: #333;
    padding: 10px 12px;
    display: block;
    font-weight: 600;
}

.header-main .menu ul li a:hover {
    color: #F78F24;
}

.header-main .menu ul li > a#navbarDropdown {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    z-index: 9;
}

.dropdown:hover .dropdown-content {
    background-color: #fff;
    display: inline-block;
}

.dropdown-content a {
    padding: 10px 10px;
}

.wrap-breadcrumb {
    padding: 5px 0px 0px;
}

.user .account .breadcrumb {
    margin-bottom: 30px;
}

.breadcrumb {
    color: #555;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
    white-space: nowrap;
    overflow-x: auto;
    background: transparent;
    border-radius: 0px;
    margin-top: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: 400;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb li a {
    color: #000;
    line-height: 38px;
    margin-right: 3px;
}

.breadcrumb li+li {
    margin-left: 3px;
}

.breadcrumb > li+li::before {
    content: "";
    padding: 0px;
}

.breadcrumb li+li a {
    margin-left: 3px;
}

/* .user-account .menu {
    padding: 10px 10px 10px 35px;
    margin: 0px;
    background: #fff;
} */

/* .user-account .menu li a {
    padding: 5px 0px;
    display: block;
    font-weight: 600;
    color: #414141;
}

.user-account > ul.menu > li a.active {
    color: #f78f24;
} */

.list-group-item {
    background-color: #f3f3f3;
    color: #000;
}

.list-group-item.active {
    background-color: #F78F24;
    border-color: #F78F24;
}

a.list-group-item:hover {
    color: #f78f24;
}

a.list-group-item.active:hover {
    color: #fff;
}

.user-account .info h3, .user-account .form-info h3 {
    color: #414141;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.info .inner-order {
    background: #fff;
    border-radius: 2px;
    font-size: 13px;
    margin-bottom: 20px;
    color: #414141;
}

.info .inner-order .order-header {
    display: flex;
    border-bottom: 1px solid #f0f0f0;
}

.info .inner-order .order-header .item {
    padding: 20px 15px;
    font-size: 15px;
    color: #787878;
    min-width: 130px;
}

.info .inner-order .order-header .item .value {
    font-size: 13px;
    margin-top: 8px;
    color: #000;
}

.info .inner-order .order-info {
    padding: 30px 15px;
}

.info .inner-order .order-info > h3 {
    color: #000;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 300;
    text-transform: none;
}

.info .inner-order .order-info .product {
    margin: 10px 0px;
    display: flex;
}

.info .inner-order .order-info .product .image {
    margin-right: 30px;
    width: 90px;
    height: 90px;
}

.info .inner-order .order-info .product .info {
    color: #202020;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.info .inner-order .order-info .product .info .name {
    color: #000;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 0px;
    outline: none;
}

.info .inner-order .order-info .product .info .seller {
    padding: 8px 0px;
}

.info .inner-order .order-info .product .info .seller > span {
    font-weight: 400;
}

.info .inner-order .order-info .product .info .price {
    padding: 8px 0px;
}

.info .inner-order .order-info .product .info .price > span {
    font-weight: 400;
}

.info .inner-order .order-info .product .info .qty {
    padding: 8px 0px;
}

.info .inner-order .order-info .product .info .qty > span {
    font-weight: 400;
}

.info .inner-order .order-info .product .info .transport-fee {
    padding: 8px 0px;
}

.info .inner-order .order-info .product .info .transport-fee > span {
    font-weight: 400;
}

.info .inner-order .order-info .product .info .status {
    padding: 8px 0px;
}

.info .inner-order .order-info .product .info .status > span {
    font-weight: 400;
}

.info .inner-order .order-info .product .info .discount {
    padding: 8px 0px;
}

.info .inner-order .order-info .product .info .discount > span {
    font-weight: 400;
}

.info .inner-order .order-info .product .info .address {
    padding: 8px 0px;
}

.info .inner-order .order-info .product .info .address > span {
    word-break: break-all;
    font-weight: 400;
}

.info .inner-order .order-control {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 0px 15px 30px;
}

.info .inner-order .order-control .button-group {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.info .inner-order .order-control .button-group .btn {
    font-weight: bold;
    font-size: 14px;
    display: flex;
    margin: 0 5px;
}