.block-title-h1{
  		background-color: tomato;
 }

.breadcrumb {
	color: #555;
	display: block;
	border-bottom: none;
}

ul {
	    list-style-type: none;
}


.device-logo img {
    max-height: 250px;
    max-width: 250px;
    display: inline-block;
    border-style: solid ;
    border-width: 7px;
    border-color: #55A3E7;  
}

.device-information{
	padding-left: 100px;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 90px;   
}

.fbbuttonlike img{
    max-height: 36px;
    max-width: 100%;
}

.fbbuttonshare img{
    max-height: 20px;
    max-width: 100%;

}

.buy-button{
    color: white;	
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:#E58836;
    border-radius: 10px;
}

.tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab button:hover {
  background-color: rgb(255, 255, 255);
}

.tab button.active {
    background-color: white;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    background-color: white;
}

.img-device-detail{
    max-width: 300px;
    max-height: 100%;
}

.other-products-information{
    background-color: white;
    display: flex;
    padding: 10px;
    position: relative;
}
.first-products-information{
    padding: 10px
}
.first-product img{
    max-width: 150px;
    max-height: 100%;
}



/*##### NEWS #####*/
.block-news {
	margin-top: 20px;
	margin-bottom: 20px;
}
.block-news .block-content{
	border: 1px solid #f3f3f3;
	padding: 6px 20px;
	/* margin-bottom: 20px; */
	background: #fff;
}
@media(max-width: 767px){
	.block-news .block-content{
		padding: 0px;
		border: none;
		margin-bottom: 0px;
	}
}
.block-news.news {
	margin-top: 0px;
}
.block-news .block-title {
    margin-bottom: 12px;
}
.block-news .block-title .img {
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-right: 8px;
	position: relative;
}
.block-news .block-title .img > img {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}
.block-title h3 {
	border-left: 6px solid #F78F24;
	font-size: 24px;
	font-weight: 400;
	padding-left: 15px;
	margin: 22px 0px 20px;
	padding-bottom: 2px;
}
.block-news .block-title a {
	color: #414141;
}
.block-news .block-content .item .img:before {
    content: '';

    background-size: 35px;
    display: block;
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    top: 40%;
    margin-top: -25px;
    left: 50%;
    opacity: 0;
    margin-left: -25px;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.block-news .block-content .item .img:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    opacity: 0;
    background: rgba(0,0,0,0.4);
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.block-news .block-content .item .img:hover:before {
    top: 50%;
    opacity: 1;
}
.block-news .block-content .item .img:hover:after {
    opacity: 1;
}
.block-news .block-title .sub-cate {
	text-align: right;
	font-size: 14px;
	height: 40px;
	overflow: hidden;
}
.block-news .block-title .sub-cate a:hover {
	color: #F78F24;
}
.block-news .block-title .sub-cate > a+a {
	margin-left: 5px;
}
.block-news .block-title .sub-cate > a+a:before {
	content: "|";
	color: #e8e8e8;
	margin-right: 5px;
}
@media screen and (max-width: 992px) {
	.block-news .block-title .sub-cate {
		display: none;
	}
}
.block-news .block-content .item {
	margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid #e3e3e3;
    padding: 5px;
}

.block-news .block-content .item .time{
	color: #999;
	margin: 15px 0px 0px 0px;
	font-weight: 300;
	padding: 0px 5px;
}
.block-news .block-content .item .time span i{
	margin-right: 5px;
	position: relative;
	top: -1px;
}
.block-news .block-content .item .time span:last-child{
	margin-left: 10px;
}
.block-news .block-content .col-md-3,
.block-news .block-content .col-sm-3 {
	padding-left: 4px;
	padding-right: 4px;
}
@media screen and (min-width: 768px) {
	.block-news .block-content > .row {
		margin: 0px -15px;
	}
}
@media screen and (max-width: 768px) {
	.block-news .block-content .item {
		margin-top: 0px;
	}
	.block-news .block-content .col-md-3 {
		padding-left: 5px;
		padding-right: 5px;
	}
	.block-news .block-content > .row {
		margin-left: -5px;
		margin-right: -5px;
	}
}
.block-news .block-content .item .img {
	display: block;
	width: 100%;
	height: 193px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;background-position: center;
	overflow: hidden;
	position: relative;
}
.block-news .block-content .col-md-4 .item .img {
	height: 193px;
}

.block-news .block-content .item h3 {
	margin: 10px 0px;
	border-bottom: 1px solid #e3e3e3;
	padding: 0px 5px 5px 5px;
}
@media(max-width: 767px){
	.block-news .block-content .item h3 {
	    padding: 0px 10px 5px 10px;
	}
}
.block-news .block-content .item h3 a {
	font-size: 15px;
    line-height: 22px;
    overflow: hidden;
    display: block;
    font-weight: 600;
}
.block-news .block-content .item h3 a:hover{
	color: #d80100;
}
.detail-news .related .item h3 {
	margin-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	border-bottom: none;
}
.detail-news .related .item h3 a {
	font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    display: block;
    font-weight: 600;
    color: #414141;
}
.block-news .block-content .item p {
	line-height: 20px;
	overflow: hidden;
	text-align: justify;
	font-weight: 400;
	color: #777;
	padding: 0px 5px;
}
@media(max-width: 767px){
	.block-news .block-content .item p{
		padding: 0px 10px;
	}
}
@media screen and (min-width: 768px) {
	.block-news .block-content .item h3 a {
		height: 44px;
	}
	.detail-news .related .item h3 a {
		height: 40px;
	}
	.block-news .block-content .item p {
		height: 80px;
	}
}
.detail-news {
	background: #fff;
}
.detail-news .clearfix{
	height: auto;
}
.detail-news .detail-content {
	margin-top: 15px;
}
.detail-news .detail-content .detail p {
	max-width: 100%;
	line-height: 24px;
}
.detail-news .detail-content .detail p {
	margin: 0px 0px;
}
@media(max-width: 767px){
	.detail-news .detail-content .detail p {
		line-height: 22px;
	}
}
.detail-news .detail-content .detail img {
	height: auto !important;
	max-width: 100%;
}
.detail-news .detail-content .title {
	color: #F78F24;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 700;
}
.detail-news .detail-content .info {
	color: #858585;
	font-weight: 400;
	margin-bottom: 10px;
	font-size: 12px;
}
.detail-news .detail-content .detail {
	margin-top: 30px;
	margin-bottom: 30px;
}
.detail-news .related {
	margin-top: 30px;
}
.detail-news .related .block-title {
	height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #F78F24;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}
.detail-news .related .item span {
	font-weight: 400;
	font-size: 11px;
	color: #666;
}
/*##### END NEWS #####*/