body {
    font-family: 'Open Sans', 'Arial';
    font-size: 13px !important;
    font-weight: 400;
    color: #000;
    background-color: #eee;
    top: 0px !important;
}

h1, h2, h3, h4, h5, h6 {
    line-height: inherit;
}

.header-toolbar {
    height: 36px;
    line-height: 36px;
    color: #444;
    font-size: 13px;
    background-color: #f8f8f8;
    font-weight: 600;
}

.container {
    width: 100% !important;
    max-width: 1200px;
}

.pull-left {
    float: left !important;
}

.header-toolbar .support span {
    line-height: 36px;
    display: inline-block;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.header-toolbar .support span+span {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #f3f3f3;
}

.header-toolbar .support span i {
    font-size: 15px;
    margin-right: 3px;
}

.header-toolbar .support span a {
    color: #444;
}

.pull-right {
    float: right !important;
}

.header-logo{
    background-color: #fff;
}

.header-logo .row {
    display: flex;
    align-items: center;
}

.logo {
	margin-left: 50%;
    line-height: 84px;
    display: block;
    padding: 10px 0px;
}

.logo img {
    max-height: 130px;
    max-width: 92%;
    display: inline-block;
}

.search {
    position: relative;
    margin: 0px 0px;
    float: left;
    width: calc(100% - 280px);
}

.form-search {
    height: 40px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #cbcbcb;
}

.form-search input {
    width: 100%;
    height: 38px;
    
    border: none;
    font-size: 13px;
    position: absolute;
    left: 0px;
    border-radius: 4px;
    box-shadow: none;
}

.form-control {
    display: block;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
}

button, input, select, textarea {
    font-family: inherit;
}

.form-search .btn_search {
    padding: 6px 13px;
    position: absolute;
    top: -1px;
    right: -1px;
    background: #F78F24;
    border: none;
    height: 40px;
    width: 80px;
    border-radius: 0px 4px 4px 0px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
}

.cart-top {
    position: relative;
    float: left;
    color: #333;
    padding: 18px 0px 0px 36px;
    font-weight: 400;
    font-size: 13px;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0px 0px 0px 14px;
}

.cart-top::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 28px;
    height: 30px;
    overflow: hidden;
    background: url(/assets/image/sprite-cart.png) no-repeat;
    background-position: 0px 1px;
    background-size: 100%;
}

.cart-top .circle-1 {
    position: relative;
}

.cart-top .circle-quantity-cart{
    color: #fff;
    background:  #F78F24;
    width: 28px;
    height: 16px;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    left: 37px;
    top: 0px;
}

.login-new {
    position: relative;
    float: left;
    color: #333;
    padding: 3px 0px 0px 32px;
    font-weight: 400;
    font-size: 13px;
    margin: 0px 0px 0px 15px;
    line-height: 1.3;
}

.login-new::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 26px;
    height: 32px;
    overflow: hidden;
    background: url(/assets/image/sprite-login.png) no-repeat;
    background-position: 0px 1px;
    background-size: 100%;
}

.login-new a {
    display: block;
    color: #444;
    text-decoration: none;
}

.login-new a:hover {
    color: #F78F24;
}

.header-main {
    position: relative;
    border-top: 1px solid #f3f3f3;
}

.header-main .menu {
    padding-left: 0px;
    height: 42px;
    background-color: bisque;
}

.header-main .menu ul li.dropdown #navbarDropdown {
    text-transform: uppercase;
    background: #f0f0f0;
    width: 220px;
}

.header-main .menu ul li a {
    color: #000;
}

.header-main .menu ul li.nav-item > a {
    color: #333;
    padding: 5px 5px 5px 5px;
    display: block;
    font-weight: 600;
}

.header-main .menu ul li a:hover {
    color: #F78F24;
}

.header-main .menu ul li > a#navbarDropdown {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    z-index: 9;
}

.dropdown:hover .dropdown-content {
    background-color: #fff;
    display: inline-block;
}

.dropdown-content a {
    padding: 10px 10px;
    background-color: #F78F24;
}

button.navbar-toggler {
    background: #F78F24;
    color: #fff;
}

.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0; 
   /* bottom: 0;*/
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
	    visibility: hidden;
	        background-color: bisque;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.wrap-breadcrumb {
    padding: 5px 0px 0px;
}

.breadcrumb {
    color: #555;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
    white-space: nowrap;
    overflow-x: auto;
    background: transparent;
    border-radius: 0px;
    margin-top: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: 400;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb li a {
    color: #000;
    line-height: 30px;
    margin-right: 3px;
}

.breadcrumb li i {
    padding-top: 10px;
}

.breadcrumb li+li {
    margin-left: 3px;
}

.breadcrumb > li+li::before {
    content: "";
    padding: 0px;
}

.breadcrumb li+li a {
    margin-left: 3px;
}

.hotline-phone-ring-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
}
.hotline-phone-ring {
  position: relative;
  visibility: visible;
  background-color: transparent;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 11;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: visibility .5s;
  left: 0;
  bottom: 0;
  display: block;
}
.hotline-phone-ring-circle {
	width: 85px;
  height: 85px;
  top: 10px;
  left: 10px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #e60808;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.5;
}
.hotline-phone-ring-circle-fill {
	width: 55px;
  height: 55px;
  top: 25px;
  left: 25px;
  position: absolute;
  background-color: rgba(230, 8, 8, 0.7);
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.hotline-phone-ring-img-circle {
	background-color: #e60808;
	width: 33px;
  height: 33px;
  top: 37px;
  left: 37px;
  position: absolute;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotline-phone-ring-img-circle .pps-btn-img {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.hotline-phone-ring-img-circle .pps-btn-img img {
	width: 20px;
	height: 20px;
}
.hotline-bar {
  position: absolute;
  background: rgba(230, 8, 8, 0.75);
  height: 40px;
  width: 180px;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  background-size: 100%;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  z-index: 9;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px !important;
  /* width: 175px !important; */
  left: 33px;
  bottom: 37px;
  visibility: hidden;
}
.hotline-bar > a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-indent: 50px;
  display: block;
  letter-spacing: 1px;
  line-height: 40px;
  font-family: Arial;
}
.hotline-phone-ring-wrap:hover .hotline-bar{
 	visibility: visible;
}
@-webkit-keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}
@-webkit-keyframes phonering-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
}
@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
@media (max-width: 768px) {
  .hotline-bar {
    display: none;
  }
}



/* Home's section */
.home-box>img{
    display: block;
    max-width:500px;
    max-height:400px;
    width: auto;
    height: min-content;
    margin-left: auto;
	margin-right: auto;

}
.homeProfile {
    background-color: #fff;
    display: flex;
}
.homeProfile-box1 {
    /* background-image: url(https://sieuthiyte.com.vn/data/upload/KM-2-9-styt-min.png);
    background-size: cover; */
    width: 20%;
}
.homeProfile-box1 img{
    width: 100%;
    height: 100%;
}
.homeProfile-box2{
    width: 60%;
    max-width: 720px;   
}
.homeProfile-box3 {
    /* background-image: url(http://static.sieuthithietbiytevietnam.com/11697/banner/2019/07/08/d.set-1562572040.jpg);
    background-size: cover; */
    width: 20%;
}
.homeProfile-box3 img{
    width: 100%;
    height: 100%;
}
.new-product-head{
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.product-img-container{
    position: relative;
    overflow: hidden;
}
.box{
    width: 25%;
    float: left;
    padding: 15px;
}
.box img{
    width: 250px;
    height: 250px;
    
}
.box:hover img{
    -ms-transform: scale(1.1); /*IE9*/
    transform: scale(1.1);
    /* transition-duration: 1s; */
    transition: transform 0.5s;
}
.column{
    width: 100%;
    float: left;
    padding: 15px;
}
.flexfooter1{
    display: flex;
    justify-content: center
}
.myDiv1{
    width: 25%;
}
.myDiv2{
    width: 75%;
    display: flex;
}
.subDiv{
    width: 33.33%;
}
.subDiv a:hover{
    color: orange;
}
.homeFooter {
    background-color: #fff;
    padding: 20px;
}
@media(max-width: 1024px){
	.box{
		width: 50%;
	}
	.subDiv1{
		width: 100%
	}
	.subDiv2{
		width: 100%
	}
	.subDiv{
	width:100%}
	.form-search .btn_search{
	width: 40px}
}

@media(max-width:  768px ){
	.box{
		width: 100%;
	}
	.subDiv1{
		width: 100%
	}
	.subDiv2{
		width: 100%
	}
	.subDiv{
	width:100%
	}
	.flexfooter1{
	display: block;}
	.homeProfile-box1{
	display:none;}
	.homeProfile-box2{
	width: 100%;}
	.homeProfile-box3{
	display:none;}
}
/* End Home's section */

 #footer-row1{
    margin-top: 80px;
    padding: 1.2em 0;
    background: #000;
    font-family: "Fjalla One", Verdana, Geneva, sans-serif;
    font-size: 0.95em;
    text-transform: uppercase;

}

.copyright{
    text-align: center;
    color: #FFF;
}
@media (max-width:1024px){
	.email{
	width: 100px;
}
}
@media (max-width: 768px){
	.email{
	width: 200px;
}
}

button.navbar-toggler {
    background: #F78F24;
    color: #fff;
}

.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0; 
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
    z-index: 9;
  }
}
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
