body {
    font-family: 'Open Sans', 'Arial';
    font-size: 13px;
    font-weight: 400;
    color: #000;
    background-color: #eee;

}


 .block-title-h1{
  		background-color:tomato;
  	}
.breadcrumb {
	white-space: nowrap;
	overflow-x: auto;
	background: transparent;
	border-radius: 0px;
	font-size: 12px;
	font-weight: 400;
	border-bottom: 1px solid #ECECEC;
	color: #858585;
}
.breadcrumb {
	color: #555;
	display: block;
	border-bottom: none;
}

ul {
	    list-style-type: none;
	}

.bgmenu_cate_item {
    padding: 5px 0px;
    margin-bottom: 15px;
}
@media(max-width: 767px){
	.bgmenu_cate_item{
		padding: 5px 0px;
	}
} 

 ul.menu_cate_hoz_item>li {
    float: left;
    margin: 3px 5px 3px 0;
    padding: 0px;
}
ul.menu_cate_hoz_item>li h2 a{
	font-weight: 400;
	color: #333;
}
@media(max-width: 767px){
	ul.menu_cate_hoz_item>li{
		margin: 2px 4px 2px 0px;
	}
}
ul.menu_cate_hoz_item>li h2{
	margin: 0px;
}
ul.menu_cate_hoz_item>li>a {
    background: #fff;
    border: 1px solid #f1f1f1;
    color: #414141;
    font-size: 12px;
    padding: 5px 10px;
    display: block;
    cursor: pointer;
    white-space: nowrap;
}
ul.menu_cate_hoz_item>li>a:hover{
	border-color: #F78F24;
}




/*##### NEWS #####*/
.block-news {
	margin-top: 20px;
	margin-bottom: 20px;
}
.block-news .block-content{
	border: 1px solid #f3f3f3;
	padding: 6px 20px;
	/* margin-bottom: 20px; */
	background: #fff;
}
@media(max-width: 767px){
	.block-news .block-content{
		padding: 0px;
		border: none;
		margin-bottom: 0px;
	}
}
.block-news.news {
	margin-top: 0px;
}
.block-news .block-title {
    margin-bottom: 12px;
}
.block-news .block-title .img {
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-right: 8px;
	position: relative;
}
.block-news .block-title .img > img {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}
.block-title h3 {
	border-left: 6px solid #F78F24;
	font-size: 24px;
	font-weight: 400;
	padding-left: 15px;
	margin: 22px 0px 20px;
	padding-bottom: 2px;
}
.block-news .block-title a {
	color: #414141;
}
.block-news .block-content .item .img:before {
    content: '';

    background-size: 35px;
    display: block;
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    top: 40%;
    margin-top: -25px;
    left: 50%;
    opacity: 0;
    margin-left: -25px;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.block-news .block-content .item .img:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    opacity: 0;
    background: rgba(0,0,0,0.4);
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.block-news .block-content .item .img:hover:before {
    top: 50%;
    opacity: 1;
}
.block-news .block-content .item .img:hover:after {
    opacity: 1;
}
.block-news .block-title .sub-cate {
	text-align: right;
	font-size: 14px;
	height: 40px;
	overflow: hidden;
}
.block-news .block-title .sub-cate a:hover {
	color: #F78F24;
}
.block-news .block-title .sub-cate > a+a {
	margin-left: 5px;
}
.block-news .block-title .sub-cate > a+a:before {
	content: "|";
	color: #e8e8e8;
	margin-right: 5px;
}
@media screen and (max-width: 992px) {
	.block-news .block-title .sub-cate {
		display: none;
	}
}
.block-news .block-content .item {
	margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid #e3e3e3;
    padding: 5px;
}

.block-news .block-content .item .time{
	color: #999;
	margin: 15px 0px 0px 0px;
	font-weight: 300;
	padding: 0px 5px;
}
.block-news .block-content .item .time span i{
	margin-right: 5px;
	position: relative;
	top: -1px;
}
.block-news .block-content .item .time span:last-child{
	margin-left: 10px;
}
.block-news .block-content .col-md-3,
.block-news .block-content .col-sm-3 {
	padding-left: 4px;
	padding-right: 4px;
}
@media screen and (min-width: 768px) {
	.block-news .block-content > .row {
		margin: 0px -15px;
	}
}
@media screen and (max-width: 768px) {
	.block-news .block-content .item {
		margin-top: 0px;
	}
	.block-news .block-content .col-md-3 {
		padding-left: 5px;
		padding-right: 5px;
	}
	.block-news .block-content > .row {
		margin-left: -5px;
		margin-right: -5px;
	}
}
.block-news .block-content .item .img {
	display: block;
	width: 100%;
	height: 193px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;background-position: center;
	overflow: hidden;
	position: relative;
}
.block-news .block-content .col-md-4 .item .img {
	height: 193px;
}

.block-news .block-content .item h3 {
	margin: 10px 0px;
	border-bottom: 1px solid #e3e3e3;
	padding: 0px 5px 5px 5px;
}
@media(max-width: 767px){
	.block-news .block-content .item h3 {
	    padding: 0px 10px 5px 10px;
	}
}
.block-news .block-content .item h3 a {
	font-size: 15px;
    line-height: 22px;
    overflow: hidden;
    display: block;
    font-weight: 600;
}
.block-news .block-content .item h3 a:hover{
	color: #d80100;
}

 .related .item h3 {
	margin-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	border-bottom: none;
}
.related .item h3 a {
	font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    display: block;
    font-weight: 600;
    color: #414141;
}
.block-news .block-content .item p {
	line-height: 20px;
	overflow: hidden;
	text-align: justify;
	font-weight: 400;
	color: #777;
	padding: 0px 5px;
}
@media(max-width: 767px){
	.block-news .block-content .item p{
		padding: 0px 10px;
	}
}
@media screen and (min-width: 768px) {
	.block-news .block-content .item h3 a {
		height: 44px;
	}
	.detail-news .related .item h3 a {
		height: 40px;
	}
	.block-news .block-content .item p {
		height: 80px;
	}
}


 .detail-content {
	margin-top: 15px;

}

.detail-content .info {
	color: #858585;
	font-weight: 400;
	margin-bottom: 10px;
	font-size: 12px;
	float:left;

}
 
/*##### END NEWS #####*/

/*##### BLOCK #####*/
.detail{
	float:left;

}
.sidebar-left1{
	float:left;
}

.sidebar-right .sidebar-block:last-child {
	margin-bottom: 20px;

}
.sidebar-block+.sidebar-block {
	margin-top: 20px;

}
.sidebar-title {
	height: 40px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: 300;
	border-bottom: 5px solid #e48522;
	background: #F78F24;
	font-size: 13px;
	padding: 0px 10px;
	position: relative;
	margin-right: -6px;
	margin-bottom: 0px;
	/* white-space: nowrap; */
	/* overflow: hidden; */
	/* text-overflow: ellipsis; */
	color: #fff;
}
.sidebar-title:before{
	right: -3px;
	bottom: -12px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #e48522;
	border-width: 5px;
	margin-bottom: 0px;
}
.sidebar-title:after{
	bottom: -15px;
	right: 0px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #e48522;
	border-width: 5px;
}
.sidebar-content{
	position: relative;
}
.sidebar-content.news{
	padding-top:30px
}


.sidebar-content.news .item {
    border-bottom: 1px dotted #E4E4E4;
    padding-bottom: 5px;
    margin-bottom: 10px;
    height: 67px;
}
.sidebar-content.news .item .img {
	width: 70px;
	height: 56px; 
	display: block;
	float: left;
	overflow: hidden;
	margin-right: 5px;	
	background-size: cover;
}
.sidebar-content.news .item .img > img {
	width: 100%;
	height: auto;
	border: none;
	height: 100%;
	opacity: 0;
}

.sidebar-content.news .item  img {
	width: 70px;
	height: 56px; 
	display: block;
	float: left;
	overflow: hidden;
	margin-right: 5px;
	background-size: cover;
}
.sidebar-content.news .item h3 {
	color: #414141;
	font-size: 14px;
	max-height: 42px;
	overflow: hidden;
	margin: 0px;
}
.sidebar-content.news .item h3:hover a {
	color: #F78F24;
}
.sidebar-content.news .item .view {
	font-size: 12px;
	font-weight: 400;
	color: #848484;
}
/*##### END BLOCK #####*/


/*video*/
.block-video .block-content{
	/* margin-bottom: 20px; */
	background: #fff;
	padding: 10px;
}
@media(max-width: 767px){
	.block-video .block-content{
		padding: 0px;
	}
}
.block-video .block-title {
    margin-bottom: 15px;
}

.block-video .block-content .row{
	margin: 0px -8px;
}
.block-video .block-content .row > div{
	padding: 0px 8px;
}
.block-video .block-content .item{
	background: #fff;
	position: relative;
	margin-bottom: 10px;
}
.block-video .block-content .left{

}
.block-video .block-content .right{

}
.block-video .block-content .item .info{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0)),color-stop(2%,rgba(255,255,255,.01)),color-stop(3%,rgba(0,0,0,.01)),color-stop(11%,rgba(0,0,0,.04)),color-stop(33%,rgba(0,0,0,.21)),color-stop(73%,rgba(0,0,0,.61)),color-stop(100%,rgba(0,0,0,.87)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.01) 2%,rgba(0,0,0,.01) 3%,rgba(0,0,0,.04) 11%,rgba(0,0,0,.21) 33%,rgba(0,0,0,.61) 73%,rgba(0,0,0,.87) 100%);
	background: -o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.01) 2%,rgba(0,0,0,.01) 3%,rgba(0,0,0,.04) 11%,rgba(0,0,0,.21) 33%,rgba(0,0,0,.61) 73%,rgba(0,0,0,.87) 100%);
	background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.01) 2%,rgba(0,0,0,.01) 3%,rgba(0,0,0,.04) 11%,rgba(0,0,0,.21) 33%,rgba(0,0,0,.61) 73%,rgba(0,0,0,.87) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.01) 2%,rgba(0,0,0,.01) 3%,rgba(0,0,0,.04) 11%,rgba(0,0,0,.21) 33%,rgba(0,0,0,.61) 73%,rgba(0,0,0,.87) 100%);filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#de000000', GradientType=0);
}
.block-video .block-content .right1 .item .info{
	position: relative;
	background: #fff;
	/* height: 80px; */
}
.block-video .block-content .item .info .name_category{
	color: #6abc50;
	display: inline-block;
	margin: 4px 0px 0px 0px;
}
.block-video.related .block-content .item{
	margin-top: 0px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	float: left;
	width: 100%;
	border-bottom: 1px solid #f3f3f3;
	box-shadow: none;
}
.block-video.related{
	padding: 0px;
	margin: 0px;
}
.block-video .block-content .item > .img{
	display: block;
	position: relative;
	overflow: hidden;
}
/* .block-video .block-content .item img{
 width: 100%;
  height: auto;
} */
.block-video .block-content .item > .img:before {
    content: "\f16a";
    font-family: 'FontAwesome';
    color: #ed1c24;
    position: absolute;
    font-size: 38px;
    width: 30px;
    height: 17px;
    top: 50%;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top: -8px;
    background: #fff;
    line-height: 18px;
    border-radius: 18px;
    z-index: 1;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.block-video .block-content .item:hover > .img:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.block-video .block-content .left .item > .img{
	height: 275px;
}
.block-video .block-content .right .item > .img{
	height: 131px;
}
.block-video .block-content .right1 .item > .img{
	height: 162px;
}
.block-video .block-content .item > .img:hover{
	-webkit-filter: brightness(110%);
}

 

.block-video .block-content .item  h3{
	padding: 0px;
	text-align: left;
	position: relative;
	margin: 0px 0px 0px 0px;
}
.block-video .block-content .item h3 a{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	line-height: 1.4;
	max-height: 38px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.block-video .block-content .right1 .item h3 a{
	color: #808080;
}
.block-video .block-content .item h3 a:hover{
	text-decoration: underline;
}
.detail-video{
	margin-top: 0px;
	background: #fff;
	border-top: 1px solid #f3f3f3;
}
.detail-video .row >div:first-child{
	padding-right: 0px;
}
.detail.detail-video{
	margin-top: 25px;
}
/*detail video*/
.detail-video .detail-content .title {
    color: #F78F24;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}
.fb-send{
	position: relative;
	z-index: 2;
}
.detail-video .detail-content .info {
    color: #858585;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 12px;
}
.block-video.related .block-content{
	float: left;
	width: 100%;
}
.block-video.related .block-content .item:last-child{
	border-bottom: none;
	margin-bottom: 0px;
}
.block-video.related .block-content .item > .img {
    float: left;
    width: 130px;
    height: 77px !important;
    overflow: hidden;
    margin-bottom: 0px;
    margin-right: 15px;
    position: relative;
    z-index: 2;
}
.block-video.related .block-content .item > h3 {
    padding-right: 0px;
    margin-bottom: 2px;
    padding: 0px 0px 0px 0px;
    text-align: left;
}
.block-video.related .block-content .item > h3 a {
    max-height: 36px;
    height: auto;
    color: #013161;
    padding-right: 0px;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
}
.block-video .block-content .item .time-video {
    font-size: 11px;
    color: #767676;
}
.block-video.related .block-content .item .time-video span {
    display: block;
    font-size: 12px;
}
.block-video .block-content .item .time-video span:last-child {
    margin-left: 6px;
}
.block-video.related .block-content .item > .img:before {
    font-size: 30px;
    width: 30px;
    height: 17px;
}


/* ############################################################# */
/* ############################################################# */
/* ############################################################# */

.detail-video{
	margin-top: 0px;
	background: #fff;
	border-top: 1px solid #f3f3f3;
}
.detail-video .row >div:first-child{
	padding-right: 0px;
}
.detail.detail-video{
	margin-top: 25px;
}
/*detail video*/
.detail-video .detail-content .title {
    color: #F78F24;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}
.fb-send{
	position: relative;
	z-index: 2;
}
.detail-video .detail-content .info {
    color: #858585;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 12px;
}
.block-video.related .block-content{
	float: left;
	width: 100%;
}
.block-video.related .block-content .item:last-child{
	border-bottom: none;
	margin-bottom: 0px;
}
/* 
.block-video.related .block-content .item > .img {
    float: left;
    width: 130px;
    height: 77px !important;
    overflow: hidden;
    margin-bottom: 0px;
    margin-right: 15px;
    position: relative;
    z-index: 2;
} */

.block-video.related .block-content .item > h3 {
    padding-right: 0px;
    margin-bottom: 2px;
    padding: 0px 0px 0px 0px;
    text-align: left;
}
.block-video.related .block-content .item > h3 a {
    max-height: 36px;
    height: auto;
    color: #013161;
    padding-right: 0px;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
}
.block-video .block-content .item .time-video {
    font-size: 11px;
    color: #767676;
}
.block-video.related .block-content .item .time-video span {
    display: block;
    font-size: 12px;
}
.block-video .block-content .item .time-video span:last-child {
    margin-left: 6px;
}
.block-video.related .block-content .item > .img:before {
    font-size: 30px;
    width: 30px;
    height: 17px;
}

/*wrap-content-product*/
.content-product-detail{

}
.content-product-detail *{
	max-width: 100%;
	line-height: 24px;
}
.content-product-detail .content {
    padding: 0px 15px;
}
@media(max-width: 767px){
	.content-product-detail .content {
	    padding: 0px 0px;
	}
}
@media(max-width: 767px){
	.content-product-detail *{
		word-break: break-word;
		line-height: 22px;
	}
}

/* .content-product-detail .content img{
	height: auto !important;
} */

.content-product-detail table{
	width: 100% !important;
}
@media(max-width: 767px){
	.content-product-detail table *{
		word-break: initial;
	}
}
.content-product-detail p{
    margin: 0px 0px;
}
.content-product-detail .nav-tabs{
	border-bottom: 1px solid #f3f3f3;
}
.content-product-detail .nav-tabs>li.active>a, .content-product-detail .nav-tabs>li:hover > a, .content-product-detail .nav-tabs>li.active>a:focus, .content-product-detail .nav-tabs>li.active>a:hover{
	background: #fff;
	border-top: 1px solid #f3f3f3;
	border-left: 1px solid #f3f3f3;
	border-right: 1px solid #f3f3f3;
	border-bottom: 1px solid #fff;
}
.content-product-detail .nav-tabs > li > a{
	background: #E5E5E5;
	border: 1px solid #f1f1f1;
	border-radius: 0px;
	margin-right: 10px;
	padding: 9px 25px;
	text-transform: uppercase;
	font-size: 14px;
	color: #717171;
}

@media(max-width: 767px){
	.content-product-detail .nav-tabs > li{
		width: 100%;
		margin-bottom: 2px;
	}
	.content-product-detail .nav-tabs > li > a{
		margin-right: 0px;
	}
}
@media(max-width: 767px){
	.content-product-detail .nav-tabs > li > a{
		margin-right: 2px;
	    padding: 10px 15px;
	    text-transform: uppercase;
	    font-size: 13px;
	}
}
.wrap-content-product{
	background: #fff;
    padding: 20px 0px;
    margin-bottom: 16px;
    border: 1px solid #f3f3f3;
    border-top: none;
}
@media(max-width: 767px){
	.wrap-content-product{
		padding: 20px 0px;
		border: none;
	}
	.content-product-detail{
		
	}
}

