	<head>
	<meta charset="UTF-8">
</head>
	<div style="border-top-style: solid; border-top-width:thin; border-top-color: #cecece; clear: both" class="footer-container" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
	<footer class="homeFooter">
		<div class="flexfooter1 container clearfix">
			<div class="myDiv1">
				<h4>NEWSLETTER</h4>
				<form style="display: flex;">
					<label for="email"></label> <input class="email" id="newsletter_input" type="email"
						name="email" placeholder="Nhập email của bạn">
					<button class="fa fa-envelope" type="submit" onClick="mailFunc()"></button>
				</form>
				<a href="/newslettercreate">Admin only: send news email</a>
			</div>
			<div class="myDiv2">
				<div class="subDiv">
					<h4>HOW TO BUY</h4>
					<a href="#">Making Payments</a><br> 
					<a href="#">Delivery Options</a><br> 
					<a href="#">Buyer Protection</a><br> 
					<a href="#">New User Guide</a><br>
				</div>
				<div class="subDiv">
					<h4>CUSTOMER SERVICE</h4>
					<a href="#">Customer Service</a><br>
					<a href="#">Transaction Service Agreement</a><br> 
					<a href="#">Take Our Survey</a><br>
					<a href="#">Organization & Technical Support</a><br>
				</div>
				<div class="subDiv">
					<h4>PARTNER PROMOTION</h4>
					<a href="#">Partnerships</a><br> 
					<a href="#">Affiliate Program</a><br> 
					<a href="#">Brand</a><br> 
					<a href="#"></a><br>
				</div>

			</div>
		</div>
		<br/>
		<div class="container">
			<p >Điện thoại:  <a th:text="02854145885" id="text-hotline-footer"></a></p>
			<p>Email: Shopthucung@gmail.com</p>
			<p>Địa chỉ: trường đh Bách Khoa, khu phố 6, P. Linh Trung, Quận Thủ Đức, TP. HCM</p>
		</div>
		<!-- Write your comments here -->
		<!-- Copy right <a href="/layout" target="_blank">JAVA12 Team and Friend</a>  -->
		<div id="footer-row1" style="margin-top: 1.5vw">
			<div id="footer-bg">
				<div id="footer" class="container_24">
					<div class="copyright">&COPY; Startup 10 năm kinh nghiệm</div>
				</div>
			</div>
		</div>
	</footer>
</div>
<script  type="text/javascript">
	$.ajax({
		type : "GET",
		url : "/layoutPage",
		success : function(layout){
			
			var phonenum= document.getElementById("text-hotline-footer");
			phonenum.innerHTML = layout.phone;
		}
	})
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		function mailFunc() {
			event.preventDefault();
			console.log("hi");
		  	$.ajax({
		        url: '/newsletter',
		        type: 'POST',
		        data: {
		            "email": document.getElementById('newsletter_input').value,
		        },
		        success: function(request, status, error) {
		            alert(request.response.Text +'Newsletter confirm mail info is sent');
		        },
		        error:  function(request, status, error) {
		        	alert(request.response.Text + 'Newsletter confirm mail info can\'t be sent. Due to wrong email or you have registred already.');
		        }
    		});
    		alert('Email address sent, wait for confirm email');
		}
	</script>

