<div class="header-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
 
    <div class="header-toolbar">
        <div class="container">
            <div class="support pull-left">
          <span><i class="fa fa-phone fa-rotate-90 fa-xs"></i> Hot line: <a href="tel:" th:text="02854145885" id="text-hotline-header" ></a></span>
                <span><i class="fa fa-envelope fa-sm"></i> Email: <a
                        href="mailto:Shopthucung@gmail.com">Shopthucung@gmail.com</a></span>
            </div>
            <div class="menu-lang-pc pull-right">

				<!-- GTranslate: https://gtranslate.io/ -->
				<a href="#" onclick="doGTranslate('vi|zh-TW');return false;"
					title="Chinese (Traditional)" class="gflag nturl"
					style="background-position: -400px -0px;"><img
					src="//gtranslate.net/flags/blank.png" height="16" width="16"
					alt="Chinese (Traditional)" /></a><a href="#"
					onclick="doGTranslate('vi|en');return false;" title="English"
					class="gflag nturl" style="background-position: -0px -0px;"><img
					src="//gtranslate.net/flags/blank.png" height="16" width="16"
					alt="English" /></a><a href="#"
					onclick="doGTranslate('vi|fr');return false;" title="French"
					class="gflag nturl" style="background-position: -200px -100px;"><img
					src="//gtranslate.net/flags/blank.png" height="16" width="16"
					alt="French" /></a><a href="#"
					onclick="doGTranslate('vi|ja');return false;" title="Japanese"
					class="gflag nturl" style="background-position: -700px -100px;"><img
					src="//gtranslate.net/flags/blank.png" height="16" width="16"
					alt="Japanese" /></a><a href="#"
					onclick="doGTranslate('vi|vi');return false;" title="Vietnamese"
					class="gflag nturl" style="background-position: -200px -400px;"><img
					src="//gtranslate.net/flags/blank.png" height="16" width="16"
					alt="Vietnamese" /></a>

				<style type="text/css">
<!--
a.gflag {
	vertical-align: middle;
	font-size: 16px;
	padding: 1px 0;
	background-repeat: no-repeat;
	background-image: url(//gtranslate.net/flags/16.png);
}

a.gflag img {
	border: 0;
}

a.gflag:hover {
	background-image: url(//gtranslate.net/flags/16a.png);
}

#goog-gt-tt {
	display: none !important;
}

.goog-te-banner-frame {
	display: none !important;
}

.goog-te-menu-value:hover {
	text-decoration: none !important;
}

body {
	top: 0 !important;
}

#google_translate_element2 {
	display: none !important;
}
-->
</style>

				<div id="google_translate_element2"></div>
				<script type="text/javascript">
function googleTranslateElementInit2() {new google.translate.TranslateElement({pageLanguage: 'vi',autoDisplay: false}, 'google_translate_element2');}
</script>
				<script type="text/javascript"
					src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>


				<script type="text/javascript">
/* <![CDATA[ */
eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
/* ]]> */
</script>
			</div>
		</div>
	</div>




<script  type="text/javascript">

	$.ajax({
		type : "GET",
		url : "/layoutPage",
		success : function(layout){
			 var phonenum= document.getElementById("text-hotline-header");
			phonenum.setAttribute('href', "tel:"+layout.phone);
			phonenum.innerHTML = layout.phone;
		}
	})
</script>

</div>