<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>About</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/about.css}" />
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div layout:fragment="content">
	<section class="cart container">
		 <div class="wrap-breadcrumb">
            <div class>
                <ul class="breadcrumb">
                    <li>
                        <a href="/" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="/about" title="Giới thiệu">Giới thiệu</a>
                    </li>
                </ul>
            </div>
        </div>
			<div class="about">
				<p>
					<strong>I - GIỚI THIỆU</strong>
				<p>Đây là trang giới thiệu về một project có tên là Petshop</p>
				
					<strong>II - SẢN PHẨM</strong>
				<ol>
					<p style = "color: navy; text-indent: 30px;">
						Danh mục các sản phẩm hiện có
					</p>
					<li></li>
					<li>Chuồng cho thú cưng</li>
					<li>Đồ chơi cho thú cưng</li>
					<li>Thức ăn cho thú cưng</li>
					<li>Thuốc cho thú cưng</li>
					<li>Thời trang cho thú cưng</li>
					<li>Dịch vụ khác</li>
				</ol>

				</p>
				<p>
					<strong>III - CÁC CHUYÊN MỤC HỮU ÍCH</strong>
				</p>
				<ol>
					<p style = "color: navy; text-indent: 30px;">
						Những nội dung đặc biệt bao gồm
					</p>
					<li>Tạp chí thú nuôinuôi</li>
					<li>Video vui nhộn</li>
					<li>Hỏi đáp</li>
					<li>Liên hệ góp ý</li>
				</ol>
				<p>
					<strong>Thanks and best regard</strong>
				</p>
			</div>
		</section>
	</div>
</body>
</html>