<!-- Quang Dai -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Dai Tran - Rich Text Editor -->
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet"
	th:href="@{/assets/richtext/richtext.min.css}">
<script th:src="@{/assets/richtext/jquery.richtext.min.js}">
	
</script>
<style>
* {
	box-sizing: border-box;
}

.form-group {
	clear: both;
}

.control-label {
	display: inline-block;
	text-align: right;
	position: relative;
	float: left;
}

.col-sm-6 {
	display: inline-block;
}

.form-control {
	position: relative;
	float: left;
}

.form-control:focus {
	box-shadow: none;
	border: 1px solid #F78F24;
}

.form-group button {
	background-color: #F78F24;
	color: white;
	border: none;
	outline: none;
	margin-right: 15px;
	padding: 10px;
}

.group {
	display: inline-block;
}

.img-thumbnail-album {
	border: 1px solid #ddd; /* Gray border */
	border-radius: 4px; /* Rounded border */
	padding: 5px; /* Some padding */
	width: 250px; /* Set a small width */
	height: 250px;
}

/* Add a hover effect (blue shadow) */
.img-thumbnail-album:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
</style>
</head>
<body>
	<div layout:fragment="content"
		style="min-height: 40vw; background-color: #ececec">
		<div class="row py-4 mt-4">
			<div class="col-sm-8"
				style="border: none; margin-left: auto; margin-right: auto">
				<h3 style="text-align: center; margin-bottom: 30px;">Thêm tin
					tức</h3>
				<form id="user-form" th:method="post" class="form-horizontal"
					action="#" th:action="@{/news/save}" th:object="${news}" enctype="multipart/form-data">
					<div class="form-group">
						<label class="col-sm-4 control-label">Tiêu đề bài viết</label>
						<div class="col-sm-6">
							<input th:field="*{title}" type="text" class="form-control" maxlength="45" required> 
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Danh mục</label>
						<div class="col-sm-6">
						<input class="form-control" list="newsCategory" th:field="*{category}" required>
							<datalist id="newsCategory">
							    <option th:each="category : ${listCategory}" th:value="${category}" th:text="${category}"></option>
							 </datalist>
						</div>
					</div>
					<div class="form-group">
					  	<label class="col-sm-4 control-label">Ngày viết</label>
					  	<div class="col-sm-6">
					    	<input th:name="created" th:value="${#dates.format(standardDate, 'yyyy-MM-dd')}" class="form-control" type="text" readonly="readonly">
					    </div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Nội dung chính</label>
						<div class="col-sm-6">
							<input th:field="*{decription}" type="text" class="form-control" maxlength="45" required> 
						</div>
					</div>
					
					
					<div class="form-group">
						<label class="col-sm-4 control-label">Tiêu đề hình ảnh</label>
						<div class="col-sm-6">
							<input th:field="*{imageTitle}" type="text" class="form-control" maxlength="45" required> 
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">Hình ảnh tiêu đề</label>
						<div class="col-sm-6">
							<input type="file" id ="imageNew" name ="imageNew"  maxlength="45" required accept="image/png, image/jpeg"> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-8 offset-sm-4">
							<img class="img-thumbnail-album" id="thumbnail" alt="Image Review" />
						</div>
					</div>
					
					<div class="form-group">
						<h5 style="text-align: center; margin-bottom: 30px;">Nội dung bài viết</h5>
						<div class="form-group">
							<textarea th:field="*{content}" id="rick" name="example">  </textarea>
							<script>
								$('#rick').richText();
							</script>
						</div>
					</div>
					
					
					
					<div style="text-align: center;">
							<button style="background-color: #F78F24; color: white; border: none; outline: none; margin-right: 15px; padding: 10px;" type="submit">Xác nhận</button>
					</div>
				</form>




				



			</div>
		</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
				$('#imageNew').change(function(){
					showImageThumbnail(this);
				});
			});
			
			function showImageThumbnail(fileInput){
				file = fileInput.files[0];
				reader = new FileReader();
				reader.onload = function(e){
					$('#thumbnail').attr('src', e.target.result);
				};
				reader.readAsDataURL(file);
			}
		</script>
	</div>

</body>
</html>