<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<title>Cart</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/register.css}" />
</head>
<body>
	<div layout:fragment="content">
		<div class="row register-container">
			<div class="col-sm-8 login-main"
				style="border: none; float: none; margin-left: auto; margin-right: auto">
				<div class="wrap-breadcrumb">
					<div class>
						<ul class="breadcrumb">
							<li><a href="#" title="Home page">Trang chủ</a></li>
							<li><i class="fa fa-angle-right"></i></li>
							<li><a href="#" title="Cart">Liên hệ</a></li>
						</ul>
					</div>
				</div>
				<h3 class="cart-title">Chi tiết giỏ hàng</h3>
				<!-- <div class="empty-cart">Không có sản phẩm nào trong giỏ hàng</div> -->
				<div th:if="${session.userRole == null}">
					<div class="empty-cart">Đăng nhập để xem giỏ hàng</div>
					<a href="/login" title="Đăng nhập">Đăng nhập</a>
				</div>
				<!-- else -->
				<div th:unless="${session.userRole == null}">
					<!-- <a th:href="/addCart}" title=""></a> -->
					<div class="cart-inner container">
						<table id="shoppingCart" class="table table-hover table-condensed"
							style="text-align: center" th:with="totalPrice=0">
							<thead>
								<tr>
									<th style="width: 50%; text-align: center">Sản phẩm</th>
									<th style="width: 10%">Giá</th>
									<th style="width: 15%">Số lượng</th>
									<th style="width: 15%">Tổng tiền</th>
									<th style="width: 10%">Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="items: ${listProducts}">
									<td data-th="Product">
										<div class="row">
											<div class="col-sm-4 hidden-xs">
												<img
													th:src="@{'data:image/png;base64,'+ ${items.product.generateBase64Image()}}"
													class="img-device" width="100" height="100">
											</div>
											<div class="col-sm-6">
												<p th:text="${items.product.name}"></p>
												<p th:text="${items.product.description}"></p>
											</div>
										</div>
									</td>
									<td th:text="${items.product.price}">VND</td>
									<td th:text="${items.quantityInCart}">
										<!-- <input class="form-control text-center" th:attr="value = ${items.quantityInCart}" 
			                		min="1" th:max="${items.product.quantity}" type="number" id="cartQuantity"/> 
			                		-->
									</td>
									<td th:text="${items.product.price}*${items.quantityInCart}"
										id="subTotal">VND</td>
									<!-- <td th:text="${items.id}"></td> -->
									<td><a class="fas fa-trash"
										th:href="@{'addCart/delete/' + ${items.id}}"> </a></td>
								</tr>

							</tbody>
							<tfoot>
								<tr>
									<td><a href="/product" title class="continue"> <i
											class="fa fa-angle-double-left"></i> Tiếp tục mua hàng
									</a></td>
									<td colspan="2" class="hidden-xs"></td>
									<!-- <td class="hidden-xs text-center"><strong>500.000 đ</strong>
			                    </td>  -->
									<td><a href="/payment" class="payment">Thanh toán <i
											class="fa fa-angle-right"></i></a></td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- jQuery library -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		document.getElementById('update').onclick = function(evt) {
			var quantity = document.getElementById("cartQuantity").value;

			var quantityReturn = document.getElementById("return-quantity");
			var productIdReturn = document.getElementById("return-product-id");
			quantityReturn.value = quantity;
			productIdReturn.value = productId;
			$("#form-order-submit").submit();
		};
	</script>

</body>
</html>
