<!DOCTYPE html>
<!-- /**
 * @author LiemNT
 */ -->
<html lang="en" mlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<title>Album</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/album.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="cart container">
			<div class="wrap-breadcrumb">
				<div class>
					<ul class="breadcrumb">
						<li><a href="/" title="Trang chủ">Trang chủ</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li><a href="/album" title="Giới thiệu">Album ảnh</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container ">
			<div class="card group text-truncate">
				<a>Ở đâu hôm nay ?</a>
			</div>
		</div>


		<div class="container card-group groupAlbum">
			<div class="row" th:each="album : ${albums}">

				<div class="card m-4 shadow rounded"
					style="height: 250px; width: 250px">
					<div class="card-header p-0 m-0" style="height: 200px">
						<a th:href="@{'/album/' + ${album.id}}"><img
							class="card-img-top border h-100 ImageAlbum"
							th:src="@{'data:image/png;base64,'+ ${album.generateBase64Image()}}" />
						</a>
					</div>
					<div class="card-body p-0  d-flex" style="display: float">
						<div class=" p-0 d-flex justify-content-center m-auto "
							th:if="${session.userRole  == 'USER' || session.userRole  == 'SHOP' || session.userRole  == NULL} ">
							<a th:href="@{'/album/' + ${album.id}}" class="NameAlbum m-auto">
								<b th:text="${album.name}"></b>
							</a>
						</div>
						<div class="mr-auto py-2" th:if="${session.userRole  == 'ADMIN'}">
							<a th:href="@{'/album/' + ${album.id}}"
								class="NameAlbum text-left"> <b th:text="${album.name}"></b>
							</a>
						</div>
						<div class="p-2" th:if="${session.userRole  == 'ADMIN'}">
							<a th:href="@{'/albumEdit/' + ${album.id}}"><i
								class="fa fa-cog"></i></a> <a onclick="return func(this);"
								class="idclass" data-toggle="modal" data-target="#exampleModal"
								th:id="${album.id}" th:name="${album.name}"><i
								class="fa fa-trash"> </i></a>
						</div>
					</div>
				</div>

			</div>

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" th:action="@{/delete}">

						<div class="modal-body">
							<a>Do you want to delete this album ?</a>
							<p></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<a id="deletebtn" href="#" type="submit" class="btn btn-primary">Delete</a>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				function func(e) {
					var link = "/album/delete/" + e.getAttribute("id");
					var name = e.getAttribute("name");
					$("modal-body a").attr("value", name);
					$("#deletebtn").attr("href", link);
				}
			</script>
			<div class="row" th:if="${session.userRole  == 'ADMIN'}">

				<div class="card m-4 shadow rounded"
					style="height: 250px; width: 250px">
					<div class="h-100">
						<a href="/album/addAlbum"> <img
							class="card-img-top border h-100 ImageAlbum"
							th:src="@{/assets/image/addImage.png}">
						</a>
					</div>
				</div>


			</div>

		</div>
	</div>

</body>
</html>