<!DOCTYPE html>
<!-- /**
 * @author LiemNT
 */ -->
<html lang="en" mlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<title>Album Detail</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/album.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="cart container">
			<!-- Thanh đường dẫn -->
			<div class="wrap-breadcrumb">
				<div>
					<ul class="breadcrumb" th:object="${album}">
						<li><a href="/" title="Trang chủ">Trang chủ</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li><a href="/album" title="Album ảnh">Album ảnh</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li><a href="/album" title="Ở đâu hôm nay">Ở đâu hôm nay</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li><a th:href="@{'/album/' + ${album.id}}"
							th:text="${album.name}"></a></li>
					</ul>
				</div>
			</div>
			<!-- Thông tin album -->
			<div class="container" th:object="${album}">
				<div class="row">
					<a>Ngày đăng : </a> <a th:text="${album.date}"></a> <a> - Views
						: </a> <a th:text="${album.view}"></a>
				</div>

			</div>

		</div>
		<div>
			<!-- Ảnh album -->

			<div class="container card-group groupAlbum">
				<div class="row" th:each="list : ${listImg}">
					<div class="card m-4 shadow rounded"
						style="height: 200px; width: 200px">
						<div class="p-0 m-0" style="height: 200px">
							<img class="card-img-top border h-100 ImageAlbum"
								th:src="@{'data:image/png;base64,'+ ${list.generateBase64Image()}}" />
						</div>
					</div>
				</div>
				<div class="row" th:if="${session.userRole  == 'ADMIN'}" th:object="${album}">
					<div class="card m-4 shadow rounded"
						style="height: 200px; width: 200px">
						<div class="p-0 m-0" style="height: 200px">
							<a th:href="@{'/album/' + ${album.id}+ '/addImage'}"> <img
								class="card-img-top border h-100 ImageAlbum"
								th:src="@{/assets/image/addImage.png}">
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- Album cùng danh mục -->
		<div>
			<h3 class=" container blockAlbum">Album cùng danh mục</h3>
			<div class="container card-group groupAlbum">
				<div class="row" th:each="album : ${albums}">
					<div class="card m-4 shadow rounded"
						style="height: 250px; width: 250px">
						<div class="card-header p-0 m-0" style="height: 200px">
							<img class="card-img-top border h-100 ImageAlbum"
								th:src="@{'data:image/png;base64,'+ ${album.generateBase64Image()}}" />
						</div>
						<div class="card-body p-0 d-flex justify-content-center ">
							<a th:href="@{'/album/' + ${album.id}}" class="NameAlbum m-auto">
								<b th:text="${album.name}"></b>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</body>
</html>