<!--LiemNT -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Edit ALbum</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/add_album.css}" />
</head>
<body>
	<div layout:fragment="content" style="min-height: 40vw">
		<div class="col-sm-8"
			style="border: none; margin-left: auto; margin-right: auto">
			<h3 style="text-align: center; margin-bottom: 30px;">Chỉnh sửa
				Album</h3>
			<form id="album-form" th:method="post" class="form-horizontal"
				action="#" th:action="@{/albumEdit/save}" th:object="${albumEdit}"
				enctype="multipart/form-data">
				<div class="form-group" hidden>
					<label class="col-sm-4 control-label">ID</label>
					<div class="col-sm-6">
						<input th:field="*{id}" type="text" class="form-control"
							maxlength="45" readonly="readonly">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-4 control-label">Tên Album</label>
					<div class="col-sm-6">
						<input th:field="*{name}" type="text" class="form-control"
							maxlength="45" required autocomplete="off">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Thumbnail</label>

					<div class="col-sm-6">
						<input type="file" id="myfile" name="myfile"
							accept="image/png, image/jpeg" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-8 offset-sm-4">
						<img class="img-thumbnail-album" id="thumbnail"
							alt="Album preview"
							th:src="@{'data:image/png;base64,'+ ${albumEdit.generateBase64Image()}}" />
					</div>
				</div>


				<div class="form-group">
					<div class="col-sm-8 offset-sm-4">
						<button type="submit">Xác nhận</button>
					</div>
				</div>
			</form>
			<script th:inline="javascript">

			    var bills = [[${albumEdit}]];  //Make sure this is bills and not bill as you have done it.
			    console.log(bills);


			</script>
			<script type="text/javascript">
			console.log("Hello");
			$(document).ready(function(){
				$('#myfile').change(function(){
					showImageThumbnail(this);
				});
			});
			
			function showImageThumbnail(fileInput){
				file = fileInput.files[0];
				console.log(file);
				reader = new FileReader();
				reader.onload = function(e){
					$('#thumbnail').attr('src', e.target.result);
				};
				reader.readAsDataURL(file);
			}
		</script>
		</div>
	</div>

</body>
</html>