<!DOCTYPE html>
<html lang="en" mlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layout">

<head>
    <meta charset="UTF-8">
    <title>Video</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/video.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div layout:fragment="content" class="container">
    <div class="detail-video">
        <div class="cart container">
            <div class="wrap-breadcrumb">
                <div class>
                    <ul class="breadcrumb">
                        <li><a href="/" title="Trang chủ">Trang chủ</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li><a href="/video" title="Tin tức">Video Clips</a></li>
                    </ul>
                </div>
            </div>
        </div>
        

        <div class="guide" style="margin-left:100px;">
        	<h3 stlye="text-align:center;">Hướng dẫn lấy link source và link thumbnail của video từ youtube</h3>
        		<h4>Cách lấy link source:</h4>
 					<p>Ở video muốn lấy link source, chọn "chia sẻ" và chon "Nhúng" </p>
 					<img alt="" th:src="@{/assets/image/video/guide-video.png}" width="300" height="200">
 					<p>Link source video là phần gạch chân như trong ảnh:</p>
 					<img alt="" th:src="@{/assets/image/video/link-source.png}" width="300" height="250">
 					<p><br/></p>
 				<h4>Cách lấy link thumbnail:</h4>
 				<p>Link souce lấy được từ các bước trên sẽ có dạng: https://www.youtube.com/embed/[id-video]</p>
 			       	
        		<p>Link thumbnail của video sẽ có dạng: https://img.youtube.com/vi/[id-video]/mqdefault.jpg. Lấy [id-video] ở link source và thay vào link thumbnail ta sẽ được link thumbnail của video.</p>
        
        </div>
        
        </div>
        </div>
</body>

</html>