<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      >

<head>
    <title>Web Petshop</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
    <!-- jQuery library -->
   

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
<section class="header">
    <th:block th:include="/_header"></th:block>
    <div class="header-logo">
       
       
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="/" title="Giỏ hàng" class="logo">
                        <img th:src="@{/assets/image/Pehop_logo.png}" alt="Giỏ hàng" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-8 col-sm-20 col-xs-12">
                
                    <div class="search">
                        <div class="form-search">
                            <form class="form-search" th:action="@{/search}">
                                <input type="text" class="form-control" name="keyword" maxlength="30" 
                                       placeholder="Nhập từ khóa tìm kiếm...">
                                <button type="submit" class="btn btn_search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    
                    <a class="cart-top cart-top-1" href="/addCart">
                        <span class="circle-1">Giỏ hàng</span>
                        <span class="circle-quantity-cart">0</span>
                    </a>
                    
                    <div class="login-new">
                    	<!-- if not login -->
                    	<div th:if="${session.userRole == null}">
		                    <a href="/login" title="Đăng nhập">Đăng nhập</a>
		                    <a href="/register" title="Đăng ký">Đăng ký</a>
                        </div>
                        <!-- else -->
						<div th:unless="${session.userRole == null}">
		                    <a th:href="@{/users/{id}(id=${session.userId})}" title="">Hello, <th:block th:text="${session.userName}"></th:block>!</a>
		                    <a href="/logout" title="Đăng xuất">Đăng xuất</a>
						</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="header" id="navbar" style="z-index: 30">
	    <div class="header-logo">
        <div class="header-main header-main-product">
            <div class="container">
                <div class="row">
              		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
               			<nav class="navbar navbar-expand-lg menu">
                			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
                  				<i class="fas fa-bars"></i>
                			</button>      
                			<div class="collapse navbar-collapse" id="navbarSupportedContent">
                  				<div class="offcanvas-header mt-3">  
                    				<button class="btn btn-outline-danger btn-close float-right">Close</button>
                    				<h5 class="py-2">Menu</h5>
                  				</div>
                  				<ul class="navbar-nav mr-auto">
                    				<li class="nav-item dropdown active">
                      					<a class="nav-link" href="#" id="navbarDropdown" >
                        					<i class="fa fa-list-ul" aria-hidden="true"></i>
                        					Danh mục sản phẩm
                      					</a> 
                      					<div class="dropdown-content">
                        					<a class="dropdown-item" href="/product/category/Chuồng cho thú cưng" >
												Chuồng cho thú cưng
                          						<i class="fa fa-angle-right"></i>
                        					</a>
                        					<a class="dropdown-item" href="/product/category/Đồ chơi cho thú cưng" >
												Đồ chơi cho thú cưng
                          						<i class="fa fa-angle-right"></i>
                        					</a>
                        					<a class="dropdown-item" href="/product/category/Thức ăn cho thú cưng" >
												Thức ăn cho thú cưng
                          						<i class="fa fa-angle-right"></i>
                        					</a>
                        					<a class="dropdown-item" href="/product/category/Thuốc cho thú cưng">
												Thuốc cho thú cưng
                          						<i class="fa fa-angle-right"></i>
											</a>
											<a class="dropdown-item" href="/product/category/Thời trang cho thú cưng" >
												Thời trang cho thú cưng
                          						<i class="fa fa-angle-right"></i>
											</a>
											<a class="dropdown-item" href="/product/category/Dịch vụ khác">
												Dịch vụ khác
                          						<i class="fa fa-angle-right"></i>
                        					</a>
                      					</div>
                    				</li>
                    				<li class="nav-item">
                      					<a class="nav-link mx-1" href="/">Trang chủ</a>
                    				</li>
                    				<li class="nav-item">
                      					<a class="nav-link mx-1" href="/about">Giới thiệu</a>
                    				</li>
                    				<li class="nav-item">
                      					<a class="nav-link mx-1" href="/product">Sản phẩm</a>
                    				</li>
                    				<li class="nav-item">
                      					<a class="nav-link mx-1" href="/news">Tin tức</a>
                    				</li>
                    				<li class="nav-item">
                      					<a class="nav-link mx-1" href="/album">Album ảnh</a>
                    				</li>
                    				<li class="nav-item">
                      					<a class="nav-link mx-1" href="/video">Video clips</a>
                    				</li>
                   					<li class="nav-item">
                      					<a class="nav-link mx-1" href="/contact">Liên hệ</a>
                    				</li>
                    				<li class="nav-item" th:if="${session.userRole  == 'ADMIN'}" >
                						<a class="nav-link mx-1" target="_self" th:href="@{/users}" title="Quản lý tài khoản">Quản lý tài khoản</a>
            						</li>
            						<li class="nav-item" th:if="${session.userRole  == 'SHOP'}" >
                						<a class="nav-link mx-1" target="_self" href="#" title="Quản lý Shop">Quản lý Shop</a>
            						</li>
            						<li class="nav-item" th:if="${session.userRole  == 'ADMIN'}" >
                      					<a class="nav-link mx-1" href="/managebanner">Quản lý Banner</a>
                    				</li>
                  				</ul>
                			</div>
              			</nav>
            		</div>
          		</div>
          	</div>
        </div>
    </div>
</section>

<div layout:fragment="content" class="content"></div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <!-- hotline -->
<div class="hotline-phone-ring-wrap">
	<div class="hotline-phone-ring">
		<div class="hotline-phone-ring-circle"></div>
		<div class="hotline-phone-ring-circle-fill"></div>
		<div class="hotline-phone-ring-img-circle">
			<a href="tel:" class="pps-btn-img">
				<img src="/assets/image/icon-call.png" alt="Gọi điện thoại" width="50">
			</a>
		</div>
	</div>
	
	<div class="hotline-bar">
		<a href="" class="pps-btn-img">
			<span class="text-hotline" id ="PhoneNumber" th:text="02854145885"></span>
		</a>
	</div>
</div>
<th:block th:include="/_footer"></th:block>

<script>
    $("[data-trigger]").on("click", function(){
    	var trigger_id =  $(this).attr('data-trigger');
    	$(trigger_id).toggleClass("show");
    	$('body').toggleClass("offcanvas-active");
    });
</script>
<script>
    $(".btn-close").click(function(e){
    	$(".navbar-collapse").removeClass("show");
    	$("body").removeClass("offcanvas-active");
    }); 
</script>

<script  type="text/javascript">
window.onload = function()
{
	$.ajax({
		type : "GET",
		url : "/layoutPage",
		success : function(layout){
			var phonenum= document.getElementsByClassName("text-hotline");
			var phonenum1= document.getElementsByClassName("pps-btn-img")
			for(var i=0;i<phonenum1.length;i++){
				phonenum1[i].setAttribute('href', "tel:"+layout.phone);
			}
			for(var i=0;i<phonenum.length;i++){
				phonenum[i].innerHTML = layout.phone;
			}
		}
	})
}

//When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>



</html>
