<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page-div {
  width: 360px;
  padding: 4% 0 4% 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container-div {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container-div:before, .container-div:after {
  content: "";
  display: block;
  clear: both;
}
.container-div .info {
  margin: 50px auto;
  text-align: center;
}
.container-div .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container-div .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container-div .info span a {
  color: #000000;
  text-decoration: none;
}
.container-div .info span .fa {
  color: #EF3B3A;
}
.body-div {
  background: #cecece; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #478ae6, #cecece);
  background: -moz-linear-gradient(right, #478ae6, #cecece);
  background: -o-linear-gradient(right, #478ae6, #cecece);
  background: linear-gradient(to left, #478ae6, #cecece);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;     
}
</style>
</head>



<body>
	<div layout:fragment="content"  >
		<!-- <div class = "container">
		<form action="/login" method="post" style="left:150px">
			<label>Username</label>
			<input type="email" placeholder="Email" name="loginUserEmail" required="" >
			<br>
			<label>Password</label>
			<input type="password" placeholder="Password" Name="loginUserPassword" required="" >
			<button type="submit" >Login</button>
		</form>
	</div> -->
	
		<div class="login-page-div container body-div" >
		<div class="container-div">
			<div class="form" >
				<form class="register-form" action="/login" method="post">
					<input type="email" placeholder="Email" name="loginUserEmail" required=""/>
					 <input type="password"
						placeholder="password" Name="loginUserPassword" required=""/> 
						<input type="text"
						placeholder="email address" />
					<button>create</button>
					<p class="message">
						Already registered? <a href="#">Sign In</a>
					</p>
				</form>
				<form class="login-form" action="/login" method="post" >
					<input type="email" placeholder="Email" name="loginUserEmail" required=""/>
					 <input type="password"
						placeholder="password" Name="loginUserPassword" required=""/> 
					<button>login</button>
					<p class="message">
						Not registered? <a href="/register">Create an account</a>
					</p>
					<p class="alert alert-warning alert-dismissable message" th:if="${messageError!=null}">
						<span  th:text = "${messageError}"></span>
					</p>
				</form>
			</div>
		</div>
		</div>
	</div>
	<script>
	$('.message a').click(function(){
		   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
		});
	</script>

</body>
</html>