<!DOCTYPE html>
<html lang="en" mlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>News</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/bannerpage.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<div layout:fragment="content">
		<div class="block-title-h1">
			<div class="container">
			</div>
		</div>
		
		<div class="cart container">
			<div class="wrap-breadcrumb">
				<div class>
					<ul class="breadcrumb">
						<li><a href="/" title="Trang chủ">Trang chủ</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li><a href="/news" title="Tin tức">Banner</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container ">
				<div class="bgmenu_cate_item">
		        

	    	</div>
		</div>


		<div class="block-news">
			 <div class="container">
				<div class="block-content" >
					<div class="row">
						<div id="wrapper">
        <div class="list">   
			<form action="multy-delete.php" method="post" name="main-form" id="main-form">
	         	<div class="row"  th:each="banner: ${banners}">
	            	<p class="no">
	            		<input type="checkbox" name="checkbox[]" value="111">
	            	</p>
	                <p class="name">Tile  bai viet <span th:text="${banner.url}">mo ta bai viet</span></p>
	                <div class="img" style="border-right:1px solid #CCC;text-align:center;"> <img style="max-width: 250px;" alt="helli" th:src="@{'data:image/png;base64,'+ ${banner.generateBase64Image()}}" src = "/assets/image/Hololive_production_Logo.png"> </div>
	                <p class="position-banner" th:text="${banner.position}">1111</p>
	                
	                <p class="action">
	                	<a th:href="|/managebanner/deletefilebanner/${banner.id}|" >Delete</a> |
	                	<a th:href="|/managebanner/edit/${banner.id}|">Edit</a>
	                </p>
	            </div>
	    	</form>
    	</div>
        
	        <div id="area-button">
	        	<a th:href="@{/managebanner/add}">Add File</a>
	        	<a id="multy-delete" href="#">Delete File</a>
	        </div>
    
    </div>
						
				

						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>