	<!-- Quang Dai -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
* {
	box-sizing: border-box;
}
</style>
</head>
<body>
	<div layout:fragment="content" style="margin-bottom: 5vw">
		<div class="container mt-5">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Email</th>
						<th>Name</th>
						<th>Password</th>
						<th>Phone Number</th>
						<th>ROLE</th>
						<th>Tools</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text=" ${user.email}"></td>
						<td th:text=" ${user.name}"></td>
						<td th:text=" ${user.password}"></td>
						<td th:text=" ${user.phoneNumber}"></td>
						<td th:text=" ${user.role}"></td>
						<td> <a th:href="@{'/users/' + ${user.id}}"> <i class="fas fa-edit"></i> </a>
							<a onclick="return func(this);" class="idclass" data-toggle="modal" data-target="#exampleModal" th:id="${user.id}"><i class="fas fa-user-minus"> </i></a> 
							</td>
					</tr>
					
				</tbody>
			</table>
			<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1"
								role="dialog" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-body">
											<a>Do you want to delete this account?</a>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
											<a id="deletebtn" href="#" type="submit"
												class="btn btn-primary">Delete</a>
										</div>
									</div>
								</div>
							</div>
							<script type="text/javascript">
								function func(e) {
									var link = "/users/delete/"
											+ e.getAttribute("id");
									$("#deletebtn").attr("href", link);
								}
							</script>
		</div>
	</div>

</body>
</html>