<!DOCTYPE html>
<html lang="en" mlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title th:text="${category}"></title>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/news.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<div layout:fragment="content">
		<div class="block-title-h1">
			<div class="container">
				<h1 th:text="${category}"></h1>
			</div>
		</div>
		
		<div class="cart container">
			<div class="wrap-breadcrumb">
				<div class>
					<ul class="breadcrumb">
						<li><a href="/" title="Trang chủ">Trang chủ</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li><a href="/news" title="Tin tức">Tin tức</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li><a href="/news" th:title="${category}" th:text="${category}"></a></li>
					</ul>
				</div>
			</div>
		</div>


		<div class="block-news">
			 <div class="container">
			 	
			 	<div th:if="${listNews.size() eq 0}" id="nodata">
			 		<p style="text-align: center;">Hiện chưa có tin tức</p>
			 	</div>
				<div class="block-content" >
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12" th:each="news:${listNews}">
							<div class="item">
								<a th:href="@{'/news/'+${news.id}}" class="img" >
									<img th:src="@{'data:image/png;base64,'+ ${news.generateBase64Image()}}" alt=""
									width="278" height = "278">
								</a>
								<div class="time">
									<span><i class="fa fa-calendar" aria-hidden="true" th:text="${news.created}"></i></span>
									<span><i class="fa fa-commenting-o" aria-hidden="true" th:text="${news.view}"></i> </span>
								</div>
								<a th:href="@{'/news/'+${news.id}}" th:title="${news.title}"> <b th:text="${news.title}"></b></a>
									<a th:if="${session.userRole  == 'ADMIN'}" th:href="@{'/newsEdit/' + ${news.id}}" style="float:right;  margin-right: 20px;">Edit</a>
								<p th:text="${news.decription}"></p>
							</div>
						
						</div>
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>