<!DOCTYPE html>
<html lang="en" mlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layout">

<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/news.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div layout:fragment="content">
        <div class="cart container">
            <div class="wrap-breadcrumb">
                <div class>
                    <ul class="breadcrumb">
                        <li><a href="/" title="Trang chủ">Trang chủ</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li><a href="/news" title="Tin tức">Tin tức</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="bgmenu_cate_item">

                <ul class="menu_cate_hoz_item category">
                    <li><a th:href="@{'/news/category/tin-tuc-y-khoa-thiet-bi-y-te'}" title="Tin tức y khoa - thiết bị y tế">Tin tức y khoa - thiết bị y tế</a></li>
                    <li><a th:href="@{'/news/category/thong-tin-dao-tao-huan-luyen'}" title="Thông tin đào tạo – huấn luyện">Thông tin đào tạo – huấn luyện</a></li>
                    <li><a th:href="@{'/news/category/co-hoi-kinh-doanh-giao-luu'}" title="Cơ hội kinh doanh – Giao lưu">Cơ hội kinh doanh – Giao lưu</a></li>
                    <li><a th:href="@{'/news/category/hoi-dap'}" title="Hỏi đáp">Hỏi đáp</a></li>
                    <li><a th:href="@{'/news/category/tuyen-dung-tim-viec'}" title="Tuyển dụng- tìm việc">Tuyển dụng- tìm việc</a></li>
                    <li><a th:href="@{'/news/category/lien-he-gop-y'}" title="Liên hệ - Góp ý">Liên hệ - Góp ý</a></li>
                </ul>
            </div>
        </div>


        <div class="block-news">
            <div class="container">
                <div class="block-content">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12" th:each="news:${listNews}">
                            <div class="item" style="min-height: 21.5vw">
                                <a th:href="@{'/news/'+${news.id}}" class="img"> <img th:src="@{'data:image/png;base64,'+ ${news.generateBase64Image()}}" alt="" width="278" height="278">
                                </a>
                                <div class="time">
                                    <span><i class="fa fa-calendar" aria-hidden="true"
										th:text="${news.created}"></i></span>

                                    <span><i
										class="fa fa-commenting-o" aria-hidden="true"
										th:text="${news.view}"></i> </span>

                                    <a onclick="return func(this);" class="idclass" data-toggle="modal" data-target="#exampleModal" th:id="${news.id}" th:if="${session.userRole  == 'ADMIN'}" style="float: right;"><i class="fa fa-trash"> </i></a>

                                    <a th:if="${session.userRole  == 'ADMIN'}" style="float: right; margin: 0 10px" th:href="@{'/news/edit/' + ${news.id}}"><i
										class="fa fa-cog"></i></a>

                                </div>
                                <a th:href="@{'/news/'+${news.id}}" th:title="${news.title}">
                                    <b th:text="${news.title}"></b>
                                </a>

                                <p th:text="${news.decription}"></p>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <a>Do you want to delete this news?</a>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <a id="deletebtn" href="#" type="submit" class="btn btn-primary">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                function func(e) {
                                    var link = "/news/delete/" +
                                        e.getAttribute("id");
                                    $("#deletebtn").attr("href", link);
                                }
                            </script>

                        </div>
                        <!-- Dai Tran - Them Tin Tuc -->
                        <div th:if="${session.userRole  == 'ADMIN'}" class="col-md-3 col-sm-6 col-xs-12">
                            <div class="item">
                                <a th:href="@{/news/add}"> <img th:src="@{/assets/image/add_news.png}" alt="add news" width="99%" height="99%">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>