<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Admin news creation</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/newsletter.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<div layout:fragment="content">
	<section class="container" style="padding:60px">
		<div class="container form" style="padding: 40px; border-style: solid">
			<form name="EmailForm" action="/send_newsletter" method="POST" enctype="multipart/form-data">
			Subject: <br>
			<input class="form_inp" id="subj_input" name="subject" type="text">
			<br><br>
			Message: <br>
			<textarea class="form_inp" id="mess_input" name="content" rows="6" cols="20" >
			</textarea>
			<br><br> 
			Attach file: <br><br>
			<input class="file_btn" id="file_input" type="file" name="file" multiple="true">
			<br>
			<br>
			<button class="form_btn" id="newsletter_create_btn">
				<strong> SEND TO ALL subcribers </strong>
			</button>
			</form>
		</div>

	</section>
	</div>
</body>
</html>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		function sendNews() {
			event.preventDefault();
			console.log("sending new newsletter");
			if (document.getElementById("subj_input").value.trim().length == 0){
				alert('Fill in subject first.');
				return;
			}
			console.log("/"+ document.getElementById("mess_input").value.trim() +"/")
			if (document.getElementById("mess_input").value.trim().length == 0){
				alert('Fill in your content first.');
				return;
			}
			document.getElementById("mess_input").value = document.getElementById("file_input").value;
			console.log(document.getElementById("file_input").value);
			document.getElementById("newsletter_create_btn").disabled = true;
		  	var files = $('#file_input')[0].files[0];
		  	var formData = new FormData();
		  	formData.append("subject", document.getElementById('subj_input').value.trim());
		  	formData.append("content", document.getElementById('mess_input').value.trim());
		   	formData.append("file", files);
		   	$.ajax({
		        url: '/send_newsletter',
		        type: 'POST',
		        data: formData,
		        processData: false,
				contentType: false,
		        success: function(msg) {
		            alert('OK. Newsletter email is sent');
		        },
		        error: function(msg) {
		        	alert('Oops. Newsletter email could not be sent')
		        	document.getElementById("newsletter_create_btn").disabled = false;  	
		        }
    		});
		}
	</script>
