<!DOCTYPE html>
<html lang="en" mlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>News</title>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/news.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<div layout:fragment="content">
		<div class="cart container">
			<div class="wrap-breadcrumb">
				<div class>
					<ul class="breadcrumb">
						<li><a href="/" title="Trang chủ">Trang chủ</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li><a href="/news" title="Tin tức">Tin tức</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li><a href="" th:title="${news.category}"
							th:text="${news.category}"></a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li><a href="" th:title="${news.title}"
							th:text="${news.title}"></a></li>

					</ul>
				</div>
			</div>
		</div>

		<div class="news-main container">

			<div class="detail-content">
				<p class="info"
					th:text="'Ngày đăng: ' +${news.created} + '- Lượt xem: '+${news.view}"></p>
				<div class="fb-send" data-href=""></div>
				<div class="fb-like" data-href="" data-layout="button_count"
					data-action="like" data-size="small" data-show-faces="false"
					data-share="true"></div>

			</div>

			<div>

				<div class="detail container">
					<div class="row">
						<div class="col-sm-8 sidebar-left1">
						<div style="text-align: center">
							<h1>
								<span style="font-size: 26px;" th:text="${news.title}"></span>
							</div>
							</h1>
							<div>
								<p>
									<span style="font-size: 16px;" th:utext="${news.content}"></span>
								</p>

								<p style="text-align: center;">
									<img
										th:src="@{'data:image/png;base64,'+ ${news.generateBase64Image()}}"
										alt="" width="700" />
								</p>
								<p style="text-align: center;">
									<a href=""><em><strong><span
												style="font-size: 16px;" th:text="${news.imageTitle}"></span></strong></em></a>
								</p>

							</div>
						</div>
						<div class="col-sm-4 sidebar-right1">
							<section class="sidebar-block">
								<h3 class="sidebar-title">Tin tức nổi bật</h3>
								<div class="sidebar-content news">
									<div class="item" th:each="news:${hot}">
										<a th:href="'/news/'+${news.id}" th:title="${news.title}"><img
											th:src="@{'data:image/png;base64,'+ ${news.generateBase64Image()}}"
											alt=""></a>
										<h3>
											<a th:href="'/news/'+${news.id}" th:title="${news.title}"
												th:text="${news.title}"></a>
										</h3>
										<span class="view" th:text="${news.view}+' lượt xem'"></span>
									</div>

								</div>
							</section>
							<section class="sidebar-block">
								<h3 class="sidebar-title">Tin tức xem nhiều</h3>
								<div class="sidebar-content news">
									<div class="item" th:each="news:${viewMore}">
										<a th:href="'/news/'+${news.id}" th:title="${news.title}"><img
											th:src="@{'data:image/png;base64,'+ ${news.generateBase64Image()}}"
											alt=""></a>
										<h3>
											<a th:href="'/news/'+${news.id}" th:title="${news.title}"
												th:text="${news.title}"></a>
										</h3>
										<span class="view" th:text="${news.view}+' lượt xem'"></span>
									</div>

								</div>
							</section>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

</body>
</html>