<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">

<head>
  <title>Đơn hàng của tôi</title>
  <!-- Required meta tags -->
  <meta charset="ISO-8859-1">
  <meta charset="utf-8">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/order.css}" />
</head>

<body>
  <div layout:fragment="content">
    <section class="user-account">
      <div class="container">
        <div class="wrap-breadcrumb">
          <div class="wrap-breadcrum2">
            <ul class="breadcrumb">
              <li>
                <a href="#" title="Trang chủ">Trang chủ</a>
              </li>
              <li>
                <i class="fas fa-angle-right"></i>
              </li>
              <li>
                <a href="/user" title="Tài khoản">Tài khoản</a>
              </li>
              <li>
                <i class="fas fa-angle-right"></i>
              </li>
              <li>
                <a href="/user/order" title="Đơn hàng">Đơn hàng</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <!-- <ul class="menu">
              <li>
                <a href="/user" title>Thông tin tài khoản</a>
              </li>
              <li>
                <a href="#" title>Đơn hàng của bạn</a>
              </li>
              <li>
                <a href="/user/change-password" title>Đổi mật khẩu</a>
              </li>
              <li>
                <a href="/logout" title>Thoát</a>
              </li>
            </ul> -->
            <div class="menu">
              <a href="/user" class="list-group-item" >Thông tin tài khoản</a>
              <a href="/order.html" class="list-group-item active">Đơn hàng của bạn</a>
              <a href="/user/change-password" class="list-group-item" >Đổi mật khẩu</a>
              <a href="/logout" class="list-group-item" title="">Thoát</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="info">
              <h3>Thông tin đơn hàng</h3>
              <div th:if="${listOrders.size() eq 0}" class="empty-order">Bạn chưa có đơn hàng nào</div>
              <div th:each="order:${listOrders}" class="inner-order">
                <div class="order-header">
                  <div class="item">
                    <div class="title">Mã đơn hàng</div>
                    <div th:text="${order.id}" class="value">528066016</div>
                  </div>
                  <div class="item">
                    <div class="title">Ngày mua</div>
                    <div th:text="${order.createdDate}" class="value">10/09/2020</div>
                  </div>
                  <div class="item">
                    <div class="title">Ngày dự kiến giao</div>
                    <div th:text="${order.expectedDate}" class="value">10/09/2020</div>
                  </div>
                  <div class="item">
                    <div class="title">Tổng tiền</div>
                    <div class="value convertToVND" th:text="${order.total}"></div>
                  </div>
                </div>
                <div class="order-info">
                  <!-- <h3>Dự kiến giao hàng: thứ hai, 14/09</h3> -->
                  <div class="product">
                    <img class="image" th:src="@{'data:image/png;base64,'+ ${order.generateBase64Image()}}" alt="product.png">
                    <div class="info">
                      <div th:text="${order.nameProduct}" class="name">Cheems</div>
                      <div class="seller">
                        Nhà cung cấp: 
                        <span th:text="${order.supplier}">Know Your Meme</span>
                      </div>
                      <div class="price">
                        Giá:  
                        <span class="convertToVND" th:text="${order.price}">86.000 đ</span>
                      </div>
                      <div class="qty">
                        Số lượng: 
                        <span th:text="${order.quantity}">1</span>
                      </div>
                      <div class="transport-fee">
                        Phí vận chuyển:  
                        <span class="convertToVND" th:text="${order.feeDelivery}">22.000 đ</span>
                      </div>
                      <div class="status">
                        Tình trạng:  
                        <span th:text="${order.status}">Chưa giao</span>
                      </div>
                      <div class="discount">
                        Giảm giá:  
                        <span  class="convertToVND" th:text="${order.discount}">-10.000 đ</span>
                      </div>
                      <div class="address">
                        Địa chỉ người nhận:  
                        <span th:text="${order.address}">Netherworld, Phường 10000, Thành phố Vĩnh Long, Vĩnh Long, Việt Nam</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
</body>

<script type="text/javascript">
window.onload = function() {
	var value = document.getElementsByClassName("convertToVND");
	for(var i = 0;i < value.length;i++) {
		window.alert(value[i].textContent);
		value[i].innerHTML = new Intl.NumberFormat('de-VN', { style: 'currency', currency: 'VND' }).format(value[i].textContent));
	}
}
</script>
</html>