<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">

<head>
<title>Product Detail</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/productDetail.css}" />
</head>

<body>
	<div layout:fragment="content">
		<div class="cart container">
			<div class="wrap-breadcrumb">
				<div class>
					<ul class="breadcrumb">
						<li><a href="/" title="Trang chủ">Trang chủ</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li><a href="#" title="Giỏ hàng">Vật tư tiêu hao</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li><a href="#" th:title="${productDetail.name}"
							th:text="${productDetail.name}"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="block-news">
			<div class="container">
				<div class="block-content">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-12">
							<div title="Logo thiết bị" class="device-logo">
								<img
									th:src="@{'data:image/png;base64,'+ ${productDetail.generateBase64Image()}}"
									class="img-device" width="250" height="250">
							</div>
						</div>
						<div class="device-information">
							<h5>
								Tên sản phẩm: <span><a class="device-real-name"
									th:text="${productDetail.name}"></a></span>
							</h5>
							<h6>
								Danh mục: <a class="device-real-name"
									th:text="${productDetail.category}"></a>
							</h6>
							<h6>
								Mã sản Phẩm: <a class="device-real-name" id="product-id-input"
									th:text="${productDetail.id}"></a>
							</h6>
							<h6>
								Giá sản phẩm: <span><a class="device-real-name"
									th:text="${productDetail.price}"></a> VNĐ</span>
							</h6>
							<h6>
								Số lượng còn: <span><a
									th:text="${productDetail.quantity}"></a> </span>
							</h6>
							<h6>
								Số lượng mua: <input value="1" type="number" id="quantity"
									name="quantity" min="1" th:max="${productDetail.quantity}">
							</h6>
							<button type="button" class="buy-button" id="buy-button-id">Chọn
								mua</button>
							<h6 class="like-share-sp">
								Like sản phẩm trên Facebook <a type="button" href="index.html"
									title="Like" class="fbbuttonlike"> <img
									src="/assets/image/fbbuttonlike.png" class="img-responsive">
								</a> Chia sẻ sản phẩm lên Facebook <a type="button"
									href="index.html" title="Share" class="fbbuttonshare"> <img
									src="/assets/image/fbsharebutton.png" class="img-responsive">
								</a>
							</h6>
						</div>
						<br>
						<form id="form-order-submit" th:action="@{/addCart}" method="get">
							<input type="hidden" name="orderProductId" id="return-product-id">
							<input type="hidden" name="orderQuantity" id="return-quantity">
						</form>
						<script type="text/javascript">
				document.getElementById('buy-button-id').onclick = function(evt){
					var quantity = document.getElementById("quantity").value;
					var productId =  document.getElementById("product-id-input").textContent;
					var quantityReturn = document.getElementById("return-quantity");
					var productIdReturn = document.getElementById("return-product-id");
					quantityReturn.value = quantity;
					productIdReturn.value=productId;
					$("#form-order-submit").submit();
			 	};
			</script>
						<br>
					</div>
				</div>
				<br>
				<div class="block-content">
					<div class="tab">
						<button class="tablinks" onclick="openTab(event, 'MTSP')"
							id="defaultOpen">Mô tả sản phẩm</button>
						<button class="tablinks" onclick="openTab(event, 'TTCT')">Thông
							tin chi tiết</button>
					</div>

					<div id="MTSP" class="tabcontent">
						<h6>MỘT VÀI MÔ TẢ CƠ BẢN VỀ SẢN PHẨM</h6>
						<p th:text="${productDetail.description}"></p>
						<div>
							<img
								th:src="@{'data:image/png;base64,'+ ${productDetail.generateBase64Image()}}"
								class="img-device-detail"> <img
								th:src="@{'data:image/png;base64,'+ ${productDetail.generateBase64Image()}}"
								class="img-device-detail"> <img
								th:src="@{'data:image/png;base64,'+ ${productDetail.generateBase64Image()}}"
								class="img-device-detail">
						</div>
					</div>

					<div id="TTCT" class="tabcontent">
						<h6>thông tin chi tiết</h6>
						<p th:text="${productDetail.description}"></p>
						<div>
							<img
								th:src="@{'data:image/png;base64,'+ ${productDetail.generateBase64Image()}}"
								class="img-device-detail"> <img
								th:src="@{'data:image/png;base64,'+ ${productDetail.generateBase64Image()}}"
								class="img-device-detail"> <img
								th:src="@{'data:image/png;base64,'+ ${productDetail.generateBase64Image()}}"
								class="img-device-detail">
						</div>
					</div>
					<script>
            function openTab(event, tabName) {
              var i, tabContent, tabLinks;
              tabContent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
              }
              tabLinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tabLinks.length; i++) {
                tabLinks[i].className = tabLinks[i].className.replace(" active", "");
              }
              document.getElementById(tabName).style.display = "block";
              event.currentTarget.className += " active";
            }
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
          </script>
				</div>
				<br>
				<div class="block-content">
					<div class="other-products">
						<h5>CÁC SẢN PHẨM CÙNG DANH MỤC</h5>
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-12"
								th:each="pros:${lstProductWithSameCate}">
								<div class="item">
									<a th:href="@{'/productDetail/'+${pros.id}}" class="img"> <img
										th:src="@{'data:image/png;base64,'+ ${pros.generateBase64Image()}}"
										alt="" width="278" height="278">
									</a>

									<div style="text-align: center;">
										<h3>
											<a th:href="@{'/productDetail/'+${pros.id}}"
												th:title="${pros.name}" th:text="${pros.name}"></a>
										</h3>
										<h7>Mã sản phẩm : </h7>
										<h7 th:text="${pros.id}"></h7>
										<br>
										<h9>Giá: </h9>
										<h9 th:text="${pros.price}"></h9>
										<h9>đ</h9>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

  <script>
    $('#inputQuantity').change(function () {
      var maxValue = parseInt($(this).attr('th:max'));
      var valueCurrent = parseInt($(this).val());
      if (valueCurrent > maxValue) {
        $('#inputQuantity').value(maxValue);
      }
      alert('Sorry, the minimum value was reached');
    }).change();
  </script>
</body>

</html>