<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/register.css}" />
</head>
<body>
<div layout:fragment="content">
    <div class="row register-container">
        <div class="col-sm-8 login-main" style="border:none;float:none;margin-left:auto;margin-right:auto">
            <h3 style="text-align: center; margin: 30px 0px;">Đăng ký tài khoản</h3>
            <form id="user-form" action="#" method="post" class="form-horizontal"
                  th:action="@{/register}" th:object="${user}">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Họ và tên <span style="color:#e5101d">*</span></label>
                    <div class="col-sm-6">
                        <input th:field="*{name}" type="text" class="form-control" autocomplete="off" name="fullname" maxlength="45" required="" value="">
                        <span class="error"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Email <span style="color:#e5101d">*</span></label>
                    <div class="col-sm-6">
                        <input id="user-email" th:field="*{email}" type="email" class="form-control" autocomplete="off" name="email" maxlength="45" required="" value="">
                        <span class="error"></span>
                    </div>
                    <span style="color:red;vertical-align: text-top;" th:if="${existingEmail}" class="col-sm-4 offset-sm-4">
                        Email này đã tồn tại
                    </span>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Số điện thoại <span style="color:#e5101d">*</span></label>
                    <div class="col-sm-6">
                        <input th:field="*{phoneNumber}" type="text"
                               class="form-control" autocomplete="off" name="phone"
                               maxlength="10" required="">
                        <span class="error"></span>
                    </div>
                    <span style="color:red;" th:if="${existingPhoneNumber}" class="col-sm-4 offset-sm-4">
                        Số điện thoại này đã tồn tại
                    </span>
                    <span style="color:red;" th:if="${phoneNumberErrorFormat}" class="col-sm-4 offset-sm-4">
                        Số điện thoại nhập sai địnhs dạng
                    </span>
                </div>
                <div class="form-group">
                    <label th:field="*{password}" class="col-sm-4 control-label">Mật khẩu <span style="color:#e5101d">*</span></label>
                    <div class="col-sm-6">
                        <input id="password" type="password" class="form-control" autocomplete="off" name="password" maxlength="24" minlength="6" required="" aria-autocomplete="list">
                        <span class="error"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-4 control-label">Lập lại mật khẩu <span style="color:#e5101d">*</span></label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" autocomplete="off" name="passconf" maxlength="24" minlength="6" required="">
                        <span class="error"></span>
                    </div>
                    <span style="color:red;" th:if="${confirmPasswordNotMatch}" class="col-sm-4 offset-sm-4">
                        Lập lại mật khẩu không chính xác
                    </span>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Mã xác nhận <span style="color:#e5101d">*</span></label>
                    <div class="col-sm-6">
                        <div class="group">
                            <input type="text" class="form-control col-sm-4" name="captcha" maxlength="6" required="">
                            <img
                                class="col-sm-4"
                                th:src="@{/captcha}"
                                onclick="$(this).attr('src', '/captcha?' + Math.random())"
                                style="cursor:pointer">
                            <span class="error"></span>
                        </div>
                    </div>
                    <span style="color:red;" th:if="${captchaNotMatching}" class="col-sm-4 offset-sm-4">
                        Mã xác nhận không chính xác
                    </span>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 offset-sm-4" style="margin-bottom: 70px">
                        <button type="submit">Đăng ký</button>
                        <a href="/login" title="" style="text-decoration: underline; color: #F78F24;">Bạn đã có tài khoản</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>