<!DOCTYPE html>
<html lang="en" mlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">

<head>
<meta charset="UTF-8">
<title>Video</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/video.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
.iframe-detail {
	width: 100%;
	border: none;
	margin-bottom: 10px;
}
</style>
<body>
	<div layout:fragment="content">
		<div class="detail-video">
			<div class="cart container">
				<div class="wrap-breadcrumb">
					<div class>
						<ul class="breadcrumb">
							<li><a href="/" title="Trang chủ">Trang chủ</a></li>
							<li><i class="fa fa-angle-right"></i></li>
							<li><a href="/video" title="Tin tức">Video Clips</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="container ">
				<div class="bgmenu_cate_item">

					<ul class="menu_cate_hoz_item category">
						<li><a title="Video nổi bật">Video nổi bật</a></li>

					</ul>
				</div>
			</div>

			<div class="block-video video">
				<div class="container">
					<div class="block-content">

						<div class="row">
							<div class="col-md-8 col-sm-8 col-xs-12">
								<iframe scrolling="no" width="730" height="452"
									th:src="${video.srcVideo}" frameborder="0" allowfullscreen
									class="iframe-detail"></iframe>

								<div class="detail-content">
									<a th:href="'/video/edit/'+${video.id}"
										th:if="${session.userRole  == 'ADMIN'}"
										style="float: right; font-size: 30px;"><i
										class="fas fa-edit"> </i></a>
									<h1 class="title" th:text="${video.title}"></h1>
									<p class="info"
										th:text="'Ngày đăng: '+${video.created}+' - Lượt xem: '+${video.view}"></p>
									<div class="clear" style="margin-top: 20px;"></div>
								</div>

								<div class="detail detail-video">
									<div class="content-product-detail" style="width: 100%;">

										<ul class="nav nav-tabs">
											<li class="active"><a href="#" data-toggle="tab">Chi
													tiết Video</a></li>
										</ul>

										<div class="wrap-content-product">
											<div class="tab-content">
												<div class="tab-pane active" id="tab1">
													<div class="content">
														<p>
															<span id='eow-title' class='watch-title' dir='ltr'
																th:text="${video.description}"></span>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- list Video -->

							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="block-video related main">
									<div class="block-content">
										<div class="item" th:each="video:${lstVideos}">

											<a th:href="@{'/video/'+${video.id}}"
												th:title="${video.title}" class="img"><img
												th:src="${video.thumbnail}" th:alt="${video.title}"
												class="img-responsive"></a>
											<h3>
												<a th:href="@{'/video/'+${video.id}}"
													th:title="${video.title}" th:text="${video.title}"></a>
											</h3>
											<div class="time-video">
												<span th:text="${video.view}+' lượt xem'"></span>
											</div>

										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>